
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    /*background-color: #111;*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 40px; /* Place content 120px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    color: white;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    display: block;
    transition: 0.3s;
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push 
the page content to the right when you open the side navigation */
body, #main {
    transition: margin-left .5s;
}
.navbar-fixed-bottom, .navbar-fixed-top{
    transition: left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.sidenav a.toggle-btn:before,
.sidenav a.toggle-btn:after
{
    font-family: FontAwesome;
    font-size: 0.5em;
    /*color: black;*/
    /*background-color: white;*/
    margin-left: 10px;
    /*border-radius: 50%;*/
}
.sidenav a.toggle-btn:after{
    content: "\f054";
    padding: 3px 5px;
}
.sidenav a.open.toggle-btn:after{
    content: "\f078";
    padding: 3px;
}
.sidenav a + ul{
    list-style: none;
    display: none;
    transition: display .5s;
}
.sidenav a.open + ul{
    display: block;
}
.sidenav a + ul a{
    font-size: 1.3em;
    padding: 8px
}


/*Stat boxes*/
.stat div  div{
    min-height: 50px;
    color: white;
    border-radius: 5px;
    padding: 5px;
}
.stat.large div  div{
    min-height: 80px;
}
.stat  div{
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.stat{
    margin-bottom: 30px;
}

.stat a:hover, .stat a:active, .stat a:focus{
    text-decoration: none;
    font-weight: normal;
}