/* ========= HEADER STYLES ========= */

	
	.fullbleed {
		background-position: center;
		position: relative;
		}
	.fullbleed:not([class*="parallax"]){
		background-size: cover;
		}
	.fullbleed:before {
		content: '';
		width: 100%;
		height: 100%;
		background-color: inherit;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.8;
		z-index: 0;
		}
	.fullbleed > * {
		z-index: 1;
		position: inherit;
		}
	.parallax {
		background-attachment: fixed;
		background-position: center top;
		}
	.jumbo {
		position: relative;
		padding: 80px 20px;
		margin-top: 0;
		color: #fff;
		font-size: 150%;
		}
	.jumbo header {
		/* margin: auto;*/
		border-radius: 3px;
		}
	.jumbo header h1{
		color: white;
		font-size: 35px;
		}
	.jumbo.parallax, jumbo.fullbleed{
		padding: 80px;
		background-size: cover;
		}

/*-Video Header-*/
.hero-video {
  position: relative;
  overflow: hidden;
}
.hero-video .container-fluid {
	z-index:3;
}
.hero-video .video-img {
  width: 100%;
}
.hero-video .video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 56.25%;
  opacity: 0;
}
.hero-video .video-background iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.hero-video .video-background.fadeIn {
  opacity: 1;
  transition: opacity 0.5s;
}

/* ======== FLEXSLIDER ========= */
	.slider-flexslider {
		display: block;
		}
	.flexslider {
		background: transparent !important;
		}
	.flexslider .slides > li {
		font-size: inherit;
		color: inherit;
		}
	.flexslider .slides {
		list-style-type: inherit;
		list-style-image: inherit;
		}
	.flex-control-paging li a {
		font-size: inherit;
		color: inherit;
		}
	.flex-direction-nav {
		list-style-type: none;
		list-style-image: none;
		}
	.flex-direction-nav > li {
		margin: 0;
		position: inherit;
		}
	.flex-control-nav li {
		margin: 0 6px;
		}
	.flex-control-nav li {
	counter-increment: inherit;
	counter-reset: inherit;
	}
	.flex-control-nav li:before {
	content: none;
	}

/* ========= LIST STYLES ========= */

	.no-list {
		list-style: none;
		padding-left: 0px;
	}

	/* Unorderd Lists */
	ul .link-list, ul.arrow, ul.circled-arrow, ul.arrow.link-list, ol {
		list-style: none;
		}
	ul .link-list li:before, ul.circled-arrow > li:before, ul.arrow > li:before {
		content: "\f111";
		font-family: 'FontAwesome';
		font-size: 45%;
		color: #285d39;
		vertical-align: middle;
		margin-right: 10px;
		}
	ul .link-list, ol.link-list {
		padding: 0;
		}
	ul .link-list > li {
		background-color: #f4f4f4;
		padding: 5px 40px 5px 10px;
		border-radius: 3px;
		position: relative;
		}
	ul .link-list > li:before {
		content: "";
		font-family: 'FontAwesome';
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-align-items: center;
		align-items: center;
		position: absolute;
		top: 0; bottom: 0; right: 0;
		margin: auto;
		height: auto;
		width: 30px;
		color: #fff;
		background-color: #285d39;
		border-radius: 0 3px 3px 0;
		}
	ul.arrow > li:before {
		content: "\f061";
		font-size: 90%;
		color: inherit;
		}
	ul.circled-arrow > li:before {
		content: "\f18e";
		font-size: 100%;
		color: inherit;
		}

	/* Ordered Lists */
	ol.link-list > li {
		background-color: #f4f4f4;
		border-radius: 3px;
		padding: 5px 10px 5px 40px;
		}
	ol.link-list > li:before {
		content: counter(orderedList);
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-align-items: center;
		align-items: center;
		left: 0; top: 0; bottom: 0;
		width: 30px;
		border-radius: 3px 0 0 3px;
		background-color: #285d39;
		color: #fff;
		}


/* ========= ACCORDIONS ======== */

	.accordion {
		background-color: #f4f4f4;
		padding: 5px 10px;
		border-radius: 5px;
		position: relative;
		cursor: pointer;
		}
	.accordion:before {
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-align-items: center;	
		align-items: center;
		content: "\f0fe";
		font-family: 'FontAwesome';
		font-size: 90%;
		position: absolute;
		top: 0; bottom: 0; right: 0;
		margin: auto;
		height: auto;
		width: 30px;
		color: #fff;
		background-color: #285d39;
		border-radius: 0 3px 3px 0;
		}
	.accordion.active:before {
		content: "\f146";
		}
	.accordion-content {
		background-color: #f4f4f4;
		border-radius: 0 0 3px 3px;
		border-top: 3px solid #285d39;
		padding: 0 10px 5px;
		margin: 10px 0px;
		}


		/* Block-style accordion - standard and small versions */
	.accordion.accordion-block,
	.accordion.accordion-block-small {
		display: block;
		position: relative;
		cursor: pointer;
		background-color: #efefef;
		padding: 25px 100px 25px 25px;
		border-radius: 0;
		color: #275d38;
		text-transform: uppercase;
		font-family: 'Rajdhani', sans-serif;
		font-weight: 600;
		margin-top: 30px;
	}
	.accordion.accordion-block:not(.active),
	.accordion.accordion-block-small:not(.active) {
		margin-bottom: 0;
	}
	.accordion.accordion-block::before,
	.accordion.accordion-block-small::before {
		content: "\f0dd";
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'FontAwesome';
		top: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		height: auto;
		width: 75px;
		border-radius: 0;
		font-size: 48px;
		background-color: #275d38;
		position: absolute;
		color: #fff;
		padding-bottom: 20px;
	}
	.accordion.accordion-block.active::before,
	.accordion.accordion-block-small.active::before {
		content: "\f0de";
		padding-bottom: 0;
		padding-top: 20px;
	}
	.accordion.accordion-block + div,
	.accordion.accordion-block-small + div {
		padding: 30px;
		background-color: #fff;
	}

	.accordion.accordion-block-small {
		padding: 10px 50px 10px 10px;
		font-size: 14px;
		margin-top: 15px;
	}
	.accordion.accordion-block-small::before {
		width: 40px;
		font-size: 30px;
		padding-bottom: 10px;
	}
	.accordion.accordion-block-small.active::before {
		padding-top: 15px;
	}
	.accordion.accordion-block-small + div {
		padding: 10px;
	}


/* ======== BUTTONS =======*/

	/* Standard Buttons */
	.button-solid, .button-border, .button-shadow {
		display: inline-block;
		position: relative;
		text-decoration: none;
		font-family: 'Rajdhani', sans-serif;
		border-radius: 10px;
		padding: 15px 20px;
		margin-bottom: 10px;
		/*width: calc(85% - 10px);*/
		text-transform: uppercase;
		border: 2px solid transparent;
		}
	.button-solid, .button-solid:active, .button-solid:focus {
		background-color: #285e39;
		color: #fff;
		border: 2px solid transparent;
		}
	.button-solid.button-forest, .button-solid.button-forest:active, .button-solid.button-forest:focus {
		background-color: #00843D;
		color: #fff;
		}
				/*Testing .button-solid.button-forest:hover {
				background-color: #fff;
				color: #00843d;
				border-color: #00843d;
			}*/
	.button-border, .button-border:active, .button-border:focus {
		border-color: #ebebeb;
		color: #285e39;
		}
	.button-shadow, .button-shadow:active, .button-shadow:focus {
		box-shadow: 0px 0px 5px #8E8C89;
		color: #285e39;
		}
	.button-solid.button-icon:after, .button-border.button-icon:after, .button-solid.button-invert-icon:after, .button-border.button-invert-icon:after {
		content: '\f0ed';
		font-family: 'FontAwesome';
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		position: absolute;
		right: -2px; top: 0; bottom: 0;
		margin: auto;
		height: calc(100% + 4px);
		padding: 15px 25px;
		border: 2px solid transparent;
		border-radius: 0 7px 7px 0;
		}
	.button-solid:hover, .button-border:hover, .button-shadow:hover {
		text-decoration: none;
		}
	.button-solid:hover {
		background-color: #fff;
		color: #285e39;
		border-color: #285e39;
		}
	.button-border:hover {
		background-color: #ebebeb;
		}
	.button-shadow:hover {
		background-color: #285e39;
		color: #fff;
		}
	.button-invert-icon:after {
		background-color: #ebebeb;
		border-color: #ebebeb;
		color: #285e39;
		}
	.button-invert-icon:hover:after {
		background-color: #285e39;
		color: #fff;
		}

	/* Secondary Button Styles */
	.button-border-left {
		border-left: 10px solid #275D38;
		background-color: #DCDCDD;
		color: black;
		display: inline-block;
		position: relative;
		text-decoration: none;
		font-family: 'Rajdhani', sans-serif;
		padding: 15px 20px;
		margin-bottom: 10px;
		width: calc(85% - 10px);
		text-transform: uppercase;
		}
	.button-border-left:hover {
		background-color: #275D38;
		border-left-color: #DCDCDD;
		text-decoration: none;
		color: white;
		}


/* ==== Simplified Buttons (Testing) ==== */
	
	/* Button Backgrounds */
	.button-solid.button-silver, .button-shadow.button-silver:hover, .button-border.button-silver:hover { background-color: #8E8C89; }
	.button-solid.button-grey, .button-solid.button-gray, .button-shadow.button-grey:hover, .button-shadow.button-gray:hover, .button-border.button-grey:hover, .button-border.button-gray:hover { background-color: rgb(232,232,232); }
	.button-solid.button-grey-xlight, .button-solid.button-gray-xlight, .button-shadow.button-gray:hover, .button-shadow.button-grey:hover, .button-border.button-gray:hover, .button-border.button-grey:hover { background-color: #f9f9f9; }
	.button-solid.button-white, .button-shadow.button-white:hover, .button-border.button-white:hover { background-color: #fff; }			
	.button-solid.button-uvu-green, .button-shadow.button-uvu-green:hover, .button-border.button-uvu-green:hover { background-color: #275D38; }
		.button-solid.button-uvu-green-1, .button-shadow.button-green-1:hover, .button-border.button-green-1:hover { background-color: #87A590; }
		.button-solid.button-uvu-green-2, .button-shadow.button-green-2:hover, .button-border.button-green-2:hover { background-color: #6F937A; }
		.button-solid.button-uvu-green-3, .button-shadow.button-green-3:hover, .button-border.button-green-3:hover { background-color: #578164; }
		.button-solid.button-uvu-green-4, .button-shadow.button-green-4:hover, .button-border.button-green-4:hover { background-color: #3f6f4e; }
		.button-solid.button-uvu-green-6, .button-shadow.button-green-6:hover, .button-border.button-green-6:hover { background-color: #235332; }
		.button-solid.button-uvu-green-7, .button-shadow.button-green-7:hover, .button-border.button-green-7:hover { background-color: #1E482C; }	
	.button-solid.button-forest, .button-shadow.button-forest:hover, .button-border.button-forest:hover { background-color: #00843D; }
		.button-solid.button-forest-2, .button-shadow.button-forest-2:hover, .button-border.button-forest-2:hover { background-color: #E6F3EC; }
		.button-solid.button-forest-3, .button-shadow.button-forest-3:hover, .button-border.button-forest-3:hover { background-color: #99CEB1; }
		.button-solid.button-forest-4, .button-shadow.button-forest-4:hover, .button-border.button-forest-4:hover { background-color: #4DA977; }
		.button-solid.button-forest-6, .button-shadow.button-forest-6:hover, .button-border.button-forest-6:hover { background-color: #005C2B; }
		.button-solid.button-forest-7, .button-shadow.button-forest-7:hover, .button-border.button-forest-7:hover { background-color: #003518;}
	.button-solid.button-clover, .button-shadow.button-clover:hover, .button-border.button-clover:hover { background-color: #4ba23f; }
		.button-solid.button-clover-2, .button-shadow.button-clover-2:hover, .button-border.button-clover-2:hover { background-color: #EDF6EC; }
		.button-solid.button-clover-3, .button-shadow.button-clover-3:hover, .button-border.button-clover-3:hove { background-color: #B7DAB2; }
		.button-solid.button-clover-4, .button-shadow.button-clover-4:hover, .button-border.button-clover-4:hover { background-color: #81BE79; }
		.button-solid.button-clover-6, .button-shadow.button-clover-6:hover, .button-border.button-clover-6:hover { background-color: #35712C; }
		.button-solid.button-clover-7, .button-shadow.button-clover-7:hover, .button-border.button-clover-7:hover { background-color: #1E4119; }
	.button-solid.button-fern, .button-shadow.button-fern:hover, .button-border.button-fern:hover { background-color: #78be20; }
		.button-solid.button-fern-2, .button-shadow.button-fern-2:hover, .button-border.button-fern-2:hover { background-color: #F2F9E9; }
		.button-solid.button-fern-3, .button-shadow.button-fern-3:hover, .button-border.button-fern-3:hover { background-color: #C9E5A6; }
		.button-solid.button-fern-4, .button-shadow.button-fern-4:hover, .button-border.button-fern-4:hover { background-color: #A1D263; }
		.button-solid.button-fern-6, .button-shadow.button-fern-6:hover, .button-border.button-fern-6:hover { background-color: #548516; }
		.button-solid.button-fern-7, .button-shadow.button-fern-7:hover, .button-border.button-fern-7:hover { background-color: #304C0D; }
	.button-solid.button-lime, .button-shadow.button-lime:hover, .button-border.button-lime:hover { background-color: #c5e86c; }
		.button-solid.button-lime-2, .button-shadow.button-lime-2:hover, .button-border.button-lime-2:hover { background-color: #F9FDF0; }
		.button-solid.button-lime-3, .button-shadow.button-lime-3:hover, .button-border.button-lime-3:hover { background-color: #E8F6C4; }
		.button-solid.button-lime-4, .button-shadow.button-lime-4:hover, .button-border.button-lime-4:hover { background-color: #D6EF98; }
		.button-solid.button-lime-6, .button-shadow.button-lime-6:hover, .button-border.button-lime-6:hover { background-color: #8AA24C; }
		.button-solid.button-lime-7, .button-shadow.button-lime-7:hover, .button-border.button-lime-7:hover { background-color: #4F5D2B; }
	.button-solid.button-aqua, .button-shadow.button-aqua:hover, .button-shadow.button-aqua:hover { background-color: #86c8bc; }
		.button-solid.button-aqua-2, .button-shadow.button-aqua-2:hover, .button-border.button-aqua-2:hover { background-color: #F3FAF8; }
		.button-solid.button-aqua-3, .button-shadow.button-aqua-3:hover, .button-border.button-aqua-3:hover { background-color: #CFE9E4; }
		.button-solid.button-aqua-4, .button-shadow.button-aqua-4:hover, .button-border.button-aqua-4:hover { background-color: #AAD9D0; }
		.button-solid.button-aqua-6, .button-shadow.button-aqua-6:hover, .button-border.button-aqua-6:hover { background-color: #5E8C84; }
		.button-solid.button-aqua-7, .button-shadow.button-aqua-7:hover, .button-border.button-aqua-7:hover { background-color: #36504B; }
	.button-solid.button-teal, .button-shadow.button-teal:hover, .button-border.button-teal:hover { background-color: #00bfb3; }
		.button-solid.button-teal-2, .button-shadow.button-teal-2:hover, .button-border.button-teal-2:hover { background-color: #E6F9F7; }
		.button-solid.button-teal-3, .button-shadow.button-teal-3:hover, .button-border.button-teal-3:hover { background-color: #99E5E1; }
		.button-solid.button-teal-4, .button-shadow.button-teal-4:hover, .button-border.button-teal-4:hover { background-color: #4DD2CA; }
		.button-solid.button-teal-6, .button-shadow.button-teal-6:hover, .button-border.button-teal-6:hover { background-color: #00867D; }
		.button-solid.button-teal-7, .button-shadow.button-teal-7:hover, .button-border.button-teal-7:hover { background-color: #004C48; }
	.button-solid.button-blue, .button-shadow.button-blue:hover, .button-border.button-blue:hover { background-color: #0095c8; }
		.button-solid.button-blue-2, .button-shadow.button-blue-2:hover, .button-border.button-blue-2:hover { background-color: #E6F4FA; }
		.button-solid.button-blue-3, .button-shadow.button-blue-3:hover, .button-border.button-blue-3:hover { background-color: #99D5E9; }
		.button-solid.button-blue-4, .button-shadow.button-blue-4:hover, .button-border.button-blue-4:hover { background-color: #4DB5D9; }
		.button-solid.button-blue-6, .button-shadow.button-blue-6:hover, .button-border.button-blue-6:hover { background-color: #00688C; }
		.button-solid.button-blue-7, .button-shadow.button-blue-7:hover, .button-border.button-blue-7:hover { background-color: #004C48; }
	.button-solid.button-blue-light, .button-shadow.button-blue-light:hover, .button-border.button-blue-light:hover { background-color: #bdd6e6; }
		.button-solid.button-blue-light-2, .button-shadow.button-blue-light-2:hover, .button-border.button-blue-light-2:hover { background-color: #F8FBFD; }
		.button-solid.button-blue-light-3, .button-shadow.button-blue-light-3:hover, .button-border.button-blue-light-3:hover { background-color: #E5EFF5; }
		.button-solid.button-blue-light-4, .button-shadow.button-blue-light-4:hover, .button-border.button-blue-light-4:hover { background-color: #D1E2EE; }
		.button-solid.button-blue-light-6, .button-shadow.button-blue-light-6:hover, .button-border.button-blue-light-6:hover { background-color: #8496A1; }
		.button-solid.button-blue-light-7, .button-shadow.button-blue-light-7:hover, .button-border.button-blue-light-7:hover { background-color: #4C565C; }
	.button-solid.button-purple, .button-shadow.button-purple:hover, .button-border.button-purple:hover { background-color: #595478; }
		.button-solid.button-purple-2, .button-shadow.button-purple-2:hover, .button-border.button-purple-2:hover { background-color: #EEEEF2; }
		.button-solid.button-purple-3, .button-shadow.button-purple-3:hover, .button-border.button-purple-3:hover { background-color:#BDBBC9; }
		.button-solid.button-purple-4, .button-shadow.button-purple-4:hover, .button-border.button-purple-4:hover { background-color: #8B87A1; }
		.button-solid.button-purple-6, .button-shadow.button-purple-6:hover, .button-border.button-purple-6:hover { background-color: #3E3B54; }
		.button-solid.button-purple-7, .button-shadow.button-purple-7:hover, .button-border.button-purple-7:hover { background-color: #242230; }
	.button-solid.button-beige, .button-shadow.button-beige:hover, .button-border.button-beige:hover { background-color: #ddd0ce; }
		.button-solid.button-beige-2, .button-shadow.button-beige-2:hover, .button-border.button-beige-2:hover { background-color: #FCFAFA; }
		.button-solid.button-beige-3, .button-shadow.button-beige-3:hover, .button-border.button-beige-3:hover { background-color:#F1ECEB; }
		.button-solid.button-beige-4, .button-shadow.button-beige-4:hove, .button-border.button-beige-4:hover { background-color: #E7DEDD; }
		.button-solid.button-beige-6, .button-shadow.button-beige-6:hover, .button-border.button-beige-6:hover { background-color: #9B9290; }
		.button-solid.button-beige-7, .button-shadow.button-beige-7:hover, .button-border.button-beige-7:hover { background-color: #242230; }
	.button-solid.button-brick-light, .button-shadow.button-brick-light:hover, .button-border.button-brick-light:hover { background-color: #bc8279; }
		.button-solid.button-brick-light-2, .button-shadow.button-brick-light-2:hover, .button-border.button-brick-light-2:hover { background-color: #F8F3F2; }
		.button-solid.button-brick-light-3, .button-shadow.button-brick-light-3:hover, .button-border.button-brick-light-3:hover { background-color: #E4CDC9; }
		.button-solid.button-brick-light-4, .button-shadow.button-brick-light-4:hover, .button-border.button-brick-light-4:hover { background-color: #D0A8A1; }
		.button-solid.button-brick-light-6, .button-shadow.button-brick-light-6:hover, .button-border.button-brick-light-6:hover { background-color: #845B55; }
		.button-solid.button-brick-light-7, .button-shadow.button-brick-light-7:hover, .button-border.button-brick-light-7:hover { background-color: #4B3430; }
	.button-solid.button-brick, .button-shadow.button-brick:hover, .button-border.button-brick:hover { background-color: #823b34; }
		.button-solid.button-brick-2, .button-shadow.button-brick-2:hover, .button-border.button-brick-2:hover { background-color: #F3EBEB; }
		.button-solid.button-brick-3, .button-shadow.button-brick-3:hover, .button-border.button-brick-3:hover { background-color: #CDB1AE; }
		.button-solid.button-brick-4, .button-shadow.button-brick-4:hover, .button-border.button-brick-4:hover { background-color: #A87671; }
		.button-solid.button-brick-6, .button-shadow.button-brick-6:hover, .button-border.button-brick-6:hover { background-color: #5B2924; }
		.button-solid.button-brick-7, .button-shadow.button-brick-7:hover, .button-border.button-brick-7:hover { background-color: #341815; }
	.button-solid.button-red, .button-shadow.button-red:hover, .button-border.button-red:hover { background-color: #e15230; }
		.button-solid.button-red-2, .button-shadow.button-red-2:hover, .button-border.button-red-2:hover { background-color: #FCEEEA; }
		.button-solid.button-red-3, .button-shadow.button-red-3:hover, .button-border.button-red-3:hover { background-color: #F3BAAC; }
		.button-solid.button-red-4, .button-shadow.button-red-4:hover, .button-border.button-red-4:hover { background-color: #EA866E; }
		.button-solid.button-red-6, .button-shadow.button-red-6:hover, .button-border.button-red-6:hover { background-color: #9E3922; }
		.button-solid.button-red-7, .button-shadow.button-red-7:hover, .button-border.button-red-7:hover { background-color: #5A2113; }
	.button-solid.button-orange, .button-shadow.button-orange:hover, .button-border.button-orange:hover { background-color: #d45d00; }
		.button-solid.button-orange-2, .button-shadow.button-orange-2:hover, .button-border.button-orange-2:hover { background-color: #FBEFE6; }
		.button-solid.button-orange-3, .button-shadow.button-orange-3:hover, .button-border.button-orange-3:hover { background-color: #EEBE99; }
		.button-solid.button-orange-4, .button-shadow.button-orange-4:hover, .button-border.button-orange-4:hover { background-color: #E18E4D; }
		.button-solid.button-orange-6, .button-shadow.button-orange-6:hover, .button-border.button-orange-6:hover { background-color: #944100; }
		.button-solid.button-orange-7, .button-shadow.button-orange-7:hover, .button-border.button-orange-7:hover { background-color: #552500; }
	.button-solid.button-gold, .button-shadow.button-gold:hover, .button-border.button-gold:hover { background-color: #ffb500; }
		.button-solid.button-gold-2, .button-shadow.button-gold-2:hover, .button-border.button-gold-2:hover { background-color: #FFF8E6; }
		.button-solid.button-gold-3, .button-shadow.button-gold-3:hover, .button-border.button-gold-3:hover { background-color: #FFE199; }
		.button-solid.button-gold-4, .button-shadow.button-gold-4:hover, .button-border.button-gold-4:hover { background-color: #FFCB4D; }
		.button-solid.button-gold-6, .button-shadow.button-gold-6:hover, .button-border.button-gold-6:hover { background-color: #B37F00; }
		.button-solid.button-gold-7, .button-shadow.button-gold-7:hover, .button-border.button-gold-7:hover { background-color: #664800; }
	.button-solid.button-yellow, .button-shadow.button-yellow:hover, .button-border.button-yellow:hover { background-color: #fbd865; }
		.button-solid.button-yellow-2, .button-shadow.button-yellow-2:hover, .button-border.button-yellow-2:hover { background-color: #FFFBF0; }
		.button-solid.button-yellow-3, .button-shadow.button-yellow-3:hover, .button-border.button-yellow-3:hover { background-color: #FDEFC1; }
		.button-solid.button-yellow-4, .button-shadow.button-yellow-4:hover, .button-border.button-yellow-4:hover { background-color: #FCE493; }
		.button-solid.button-yellow-6, .button-shadow.button-yellow-6:hover, .button-border.button-yellow-6:hover { background-color: #B09747; }
		.button-solid.button-yellow-7, .button-shadow.button-yellow-7:hover, .button-border.button-yellow-7:hover { background-color: #645628; }
	.button-solid.button-brown, .button-shadow.button-brown:hover, .button-border.button-brown:hover { background-color: #696158; }
		.button-solid.button-brown-2, .button-shadow.button-brown-2:hover, .button-border.button-brown-2:hover { background-color: #F0EFEE; }
		.button-solid.button-brown-3, .button-shadow.button-brown-3:hover, .button-border.button-brown-3:hover { background-color: #C3C0BC; }
		.button-solid.button-brown-4, .button-shadow.button-brown-4:hover, .button-border.button-brown-4:hover { background-color: #96908A; }
		.button-solid.button-brown-6, .button-shadow.button-brown-6:hover, .button-border.button-brown-6:hover { background-color: #4A443E; }
		.button-solid.button-brown-7, .button-shadow.button-brown-7:hover, .button-border.button-brown-7:hover { background-color: #2A2723; }
	.button-solid.button-grey-dark, .button-solid.button-gray-dark, .button-shadow.button-grey-dark:hover, .button-shadow.button-gray-dark:hover, .button-border.button-grey-dark:hover, .button-border.button-gray-dark:hover { background-color: #a7a8aa; }
		.button-solid.button-grey-dark-2, .button-solid.button-gray-dark-2, .button-shadow.button-gray-dark-1:hover, .button-shadow.button-grey-dark-2:hover, .button-border.button-gray-dark-1:hover, .button-border.button-grey-dark-2:hover {background-color: #F6F6F7;}
		.button-solid.button-grey-dark-3, .button-solid.button-gray-dark-3, .button-shadow.button-grey-dark-3:hover, .button-shadow.button-gray-dark-3:hover, .button-border.button-grey-dark-3:hover, .button-border.button-gray-dark-3:hover {background-color: #DCDCDD;}
		.button-solid.button-grey-dark-4, .button-solid.button-gray-dark-4, .button-shadow.button-grey-dark-4:hover, .button-shadow.button-gray-dark-4:hover, .button-border.button-grey-dark-4:hover, .button-border.button-gray-dark-4:hover {background-color: #C1C2C4;}
		.button-solid.button-grey-dark-6, .button-solid.button-gray-dark-6, .button-shadow.button-grey-dark-6:hover, .button-shadow.button-gray-dark-6:hover, .button-border.button-grey-dark-6:hover, .button-border.button-gray-dark-6:hover {background-color: #757677;}
		.button-solid.button-grey-dark-7, .button-solid.button-gray-dark-7, .button-shadow.button-grey-dark-7:hover, .button-shadow.button-gray-dark-7:hover, .button-border.button-grey-dark-7:hover, .button-border.button-gray-dark-7:hover {background-color: #434344;}

	/* Button Borders */
	.button-border.button-white { border-color: #fff; }
	.button-border.button-primary, .button-border.button-uvu-green { border-color: #275D38; }
		.button-border.button-primary-1 { border-color: #87A590; }
		.button-border.button-primary-2 { border-color: #6F937A; }
		.button-border.button-primary-3 { border-color: #578164; }
		.button-border.button-primary-4 { border-color: #3F6F4E; }
		.button-border.button-primary-6 { border-color: #235332; }
		.button-border.button-primary-7 { border-color: #1E482C; }
	.button-border.button-forest, .button-border.button-green { border-color: #00843D; }
		.button-border.button-forest-2 { border-color: #E6F3EC; }
		.button-border.button-forest-3 { border-color: #99CEB1; }
		.button-border.button-forest-4 { border-color: #4DA977; }
		.button-border.button-forest-6 { border-color: #005C2B; }
		.button-border.button-forest-7 { border-color: #003518;}
	.button-border.button-clover { border-color: #4ba23f; }
		.button-border.button-clover-2 { border-color: #EDF6EC; }
		.button-border.button-clover-3 { border-color: #B7DAB2; }
		.button-border.button-clover-4 { border-color: #81BE79; }
		.button-border.button-clover-6 { border-color: #35712C; }
		.button-border.button-clover-7 { border-color: #1E4119; }
	.button-border.button-fern { border-color: #78be20; }
		.button-border.button-fern-2 { border-color: #F2F9E9; }
		.button-border.button-fern-3 { border-color: #C9E5A6; }
		.button-border.button-fern-4 { border-color: #A1D263; }
		.button-border.button-fern-6 { border-color: #548516; }
		.button-border.button-fern-7 { border-color: #304C0D; }
	.button-border.button-lime { border-color: #c5e86c; }
		.button-border.button-lime-2 { border-color: #F9FDF0; }
		.button-border.button-lime-3 { border-color: #E8F6C4; }
		.button-border.button-lime-4 { border-color: #D6EF98; }
		.button-border.button-lime-6 { border-color: #8AA24C; }
		.button-border.button-lime-7 { border-color: #4F5D2B; }
	.button-border.button-aqua { border-color: #86c8bc; }
		.button-border.button-aqua-2 { border-color: #F3FAF8; }
		.button-border.button-aqua-3 { border-color: #CFE9E4; }
		.button-border.button-aqua-4 { border-color: #AAD9D0; }
		.button-border.button-aqua-6 { border-color: #5E8C84; }
		.button-border.button-aqua-7 { border-color: #36504B; }
	.button-border.button-teal { border-color: #00bfb3; }
		.button-border.button-teal-2 { border-color: #E6F9F7; }
		.button-border.button-teal-3 { border-color: #99E5E1; }
		.button-border.button-teal-4 { border-color: #4DD2CA; }
		.button-border.button-teal-6 { border-color: #00867D; }
		.button-border.button-teal-7 { border-color: #004C48; }
	.button-border.button-blue { border-color: #0095c8; }
		.button-border.button-blue-2 { border-color: #E6F4FA; }
		.button-border.button-blue-3 { border-color: #99D5E9; }
		.button-border.button-blue-4 { border-color: #4DB5D9; }
		.button-border.button-blue-6 { border-color: #00688C; }
		.button-border.button-blue-7 { border-color: #004C48; }
	.button-border.button-blue-light { border-color: #003C50; }
		.button-border.button-blue-light-2 { border-color: #F8FBFD; }
		.button-border.button-blue-light-3 { border-color: #E5EFF5; }
		.button-border.button-blue-light-4 { border-color: #D1E2EE; }
		.button-border.button-blue-light-6 { border-color: #8496A1; }
		.button-border.button-blue-light-7 { border-color: #4C565C; }
	.button-border.button-purple { border-color: #595478; }
		.button-border.button-purple-2 { border-color: #EEEEF2; }
		.button-border.button-purple-3 { border-color:#BDBBC9; }
		.button-border.button-purple-4 { border-color: #8B87A1; }
		.button-border.button-purple-6 { border-color: #3E3B54; }
		.button-border.button-purple-7 { border-color: #242230; }
	.button-border.button-beige { border-color: #ddd0ce; }
		.button-border.button-beige-2 { border-color: #FCFAFA; }
		.button-border.button-beige-3 { border-color:#F1ECEB; }
		.button-border.button-beige-4 { border-color: #E7DEDD; }
		.button-border.button-beige-6 { border-color: #9B9290; }
		.button-border.button-beige-7 { border-color: #242230; }
	.button-border.button-brick-light { border-color: #585352; }
		.button-border.button-brick-light-2 { border-color: #F8F3F2; }
		.button-border.button-brick-light-3 { border-color: #E4CDC9; }
		.button-border.button-brick-light-4 { border-color: #D0A8A1; }
		.button-border.button-brick-light-6 { border-color: #845B55; }
		.button-border.button-brick-light-7 { border-color: #4B3430; }
	.button-border.button-brick { border-color: #823b34; }
		.button-border.button-brick-2 { border-color: #F3EBEB; }
		.button-border.button-brick-3 { border-color: #CDB1AE; }
		.button-border.button-brick-4 { border-color: #A87671; }
		.button-border.button-brick-6 { border-color: #5B2924; }
		.button-border.button-brick-7 { border-color: #341815; }
	.button-border.button-red { border-color: #e15230; }
		.button-border.button-red-2 { border-color: #FCEEEA; }
		.button-border.button-red-3 { border-color: #F3BAAC; }
		.button-border.button-red-4 { border-color: #EA866E; }
		.button-border.button-red-6 { border-color: #9E3922; }
		.button-border.button-red-7 { border-color: #5A2113; }
	.button-border.button-orange { border-color: #d45d00; }
		.button-border.button-orange-2 { border-color: #FBEFE6; }
		.button-border.button-orange-3 { border-color: #EEBE99; }
		.button-border.button-orange-4 { border-color: #E18E4D; }
		.button-border.button-orange-6 { border-color: #944100; }
		.button-border.button-orange-7 { border-color: #552500; }
	.button-border.button-gold { border-color: #ffb500; }
		.button-border.button-gold-2 { border-color: #FFF8E6; }
		.button-border.button-gold-3 { border-color: #FFE199; }
		.button-border.button-gold-4 { border-color: #FFCB4D; }
		.button-border.button-gold-6 { border-color: #B37F00; }
		.button-border.button-gold-7 { border-color: #664800; }
	.button-border.button-yellow { border-color: #fbd865; }
		.button-border.button-yellow-2 { border-color: #FFFBF0; }
		.button-border.button-yellow-3 { border-color: #FDEFC1; }
		.button-border.button-yellow-4 { border-color: #FCE493; }
		.button-border.button-yellow-6 { border-color: #B09747; }
		.button-border.button-yellow-7 { border-color: #645628; }
	.button-border.button-brown { border-color: #696158; }
		.button-border.button-brown-2 { border-color: #F0EFEE; }
		.button-border.button-brown-3 { border-color: #C3C0BC; }
		.button-border.button-brown-4 { border-color: #96908A; }
		.button-border.button-brown-6 { border-color: #4A443E; }
		.button-border.button-brown-7 { border-color: #2A2723; }
	.button-border.button-grey-dark, .button-border.button-gray-dark { border-color: #a7a8aa; }
		.button-border.button-grey-dark-2, .button-border.button-gray-dark-2 {border-color: #F6F6F7;}
		.button-border.button-grey-dark-3, .button-border.button-gray-dark-3 {border-color: #DCDCDD;}
		.button-border.button-grey-dark-4, .button-border.button-gray-dark-4 {border-color: #C1C2C4;}
		.button-border.button-grey-dark-6, .button-border.button-gray-dark-6 {border-color: #757677;}
		.button-border.button-grey-dark-7, .button-border.button-gray-dark-7 {border-color: #434344;}


/* ======= ICONS BASED ON EXTENSION TYPE ======= */

	a.button-styles[href$='.html']:after, .button-styles a[href$='/']:after {
		content:"\f138";
	}
	.button-styles a[href$='.pdf']:after {
		content:"\f1c1";
	}
	.button-styles a[href$='.doc']:after, .button-styles a[href$='.dot']:after, .button-styles a[href$='.docx']:after, .button-styles a[href$='.docm']:after, .button-styles a[href$='.dotm']:after, .button-styles a[href$='.dotx']:after, .button-styles a[href$='.docb']:after {
		content:"\f1c2";
	}
	.button-styles a[href$='.xls']:after, .button-styles a[href$='.xlt']:after, .button-styles a[href$='.xlm']:after, .button-styles a[href$='.xlsx']:after, .button-styles a[href$='.xlsm']:after, .button-styles a[href$='.xltx']:after, .button-styles a[href$='.xltm']:after {
		content:"\f1c3";
	}
	.button-styles a[href$='.ppt']:after, .button-styles a[href$='.pot']:after, .button-styles a[href$='.pps']:after, .button-styles a[href$='.pptx']:after, .button-styles a[href$='.pptm']:after, .button-styles a[href$='.potx']:after, .button-styles a[href$='.potm']:after, .button-styles a[href$='.ppam']:after, .button-styles a[href$='.ppsx']:after, .button-styles a[href$='.ppsm']:after, .button-styles a[href$='.sldx']:after, .button-styles a[href$='.sldm']:after {
		content:"\f1c4";
	}
	.button-styles a[href$='.swf']:after, .button-styles a[href$='.flv']:after, .button-styles a[href$='.webm']:after, .button-styles a[href$='.ogv']:after, .button-styles a[href$='.gifv']:after, .button-styles a[href$='.avi']:after, .button-styles a[href$='.mov']:after, .button-styles a[href$='.wmv']:after, .button-styles a[href$='.mp4']:after, .button-styles a[href$='.mpg']:after, .button-styles a[href$='.mpeg']:after, .button-styles a[href$='.3gp']:after {
		content:"\f1c8";
	}
	.button-styles a[href$='.iso']:after, .button-styles a[href$='.tar']:after, .button-styles a[href$='.lz']:after, .button-styles a[href$='.7z']:after, .button-styles a[href$='.tar.gz']:after, .button-styles a[href$='.tgz']:after, .button-styles a[href$='.tlz']:after, .button-styles a[href$='.zip']:after, .button-styles a[href$='.zipx']:after, .button-styles a[href$='.rar']:after {
		content:"\f1c6";
	}
	.button-styles a[href$='.txt']:after, .button-styles a[href$='.rtx']:after, .button-styles a[href$='.ansi']:after, .button-styles a[href$='.readme']:after, .button-styles a[href$='.md']:after, .button-styles a[href$='.asc']:after, .button-styles a[href$='.ascii']:after, .button-styles a[href$='.text']:after {
		content:"\f15c";
	}
	.button-styles a[href$='.aac']:after, .button-styles a[href$='.aiff']:after, .button-styles a[href$='.flac']:after, .button-styles a[href$='.m4a']:after, .button-styles a[href$='.m4b']:after, .button-styles a[href$='.m4p']:after, .button-styles a[href$='.mp3']:after, .button-styles a[href$='.ogg']:after, .button-styles a[href$='.vox']:after, .button-styles a[href$='.wma']:after, .button-styles a[href$='.wav']:after, .button-styles a[href$='.webm']:after {
		content:"\f1c7";
	}
	.button-styles a[href$='.jpg']:after, .button-styles a[href$='.jpeg']:after, .button-styles a[href$='.tif']:after, .button-styles a[href$='.tiff']:after, .button-styles a[href$='.gif']:after, .button-styles a[href$='.bmp']:after, .button-styles a[href$='.png']:after, .button-styles a[href$='.webp']:after, .button-styles a[href$='.svg']:after {
		content:"\f1c5";
	}
	.button-styles a[href$='.css']:after, .button-styles a[href$='.js']:after, .button-styles a[href$='.xml']:after, .button-styles a[href$='.xsl']:after, .button-styles a[href$='.xslt']:after {
		content:"\f1c9";
	}




/*==================================================================================*/
/*================================SECTION STYLES===========================================*/
/* page header */

/* fullbleed slider */
section[data-uvu-template="header-slider"] {
    position: relative;
}

section[data-uvu-template="header-slider"] > header {

}

section[data-uvu-template="header-slider"] .flex-container {
    background: url(../img/bodyDiagPattern.png) center;
    position: inherit;
	overflow: hidden;
}

section[data-uvu-template="header-slider"] .flex-container .flex-viewport {
	box-shadow: 0 0 10px black;
}

section[data-uvu-template="header-slider"] .flex-container .flex-control-nav {
	bottom: inherit;
	right: inherit;
	width: 100%;
	position: absolute;
	text-align: center;
	padding: 10px 0 0;
}

/*---------*/

/* section default */
.section-default img.fullbleed {
	display: block;
}


.section-green1{
	background-color: #36814F;
	color: white !important;
}

.contentArea .section-green1 p, .contentArea .section-green1 ul li, .contentArea .section-green1 ul li:before, .contentArea .section-green1 ol li, .contentArea .section-green1 ol li:before, .contentArea .section-green1 h2, .contentArea .section-green1 h3 {
	color: white !important;
}

.fullbleed-section-header{
	margin: -21px 0px 20px 0px;
}




/* ******************************** Basics ******************************** */

.sectionTitle {
	background-color: #ccc;
	color: #fff;
	padding: 1em;
	border-top: solid thin #333;
	border-bottom: solid thin #333;
	text-transform: uppercase;
	font-family: arial;
	text-align: center;
	margin: 1em 0;
}

/* ******************************** Cards ******************************** */



.pictureCard1 > img, .pictureCard2 > img, .pictureCard3 > img{
	width: 100%;
	height: auto;
}

.pictureCard3 a.button-border, .pictureCard3 a.link-4
{
    margin-top: auto;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    display: block;
    width: 100%;
    text-decoration: none;
}
.pictureCard3 a.button-border:hover, .pictureCard3 a.link-4:hover
{
    text-decoration: none;
    color: #333;
    background-color: #e6e6e6 ;
    border-color: #adadad ;
}

.cardButton1{
	border-top: 1px solid #f2f2f2;
	text-align: center;
	padding: 10px;
	width: 100%;
}

.cardButton1:hover{
	background-color: #275D38;
	color: white;
	text-decoration: none;
}

.advisorCard {
	overflow: hidden;
}

.advisorCard .set-index-5 {
	z-index: 5;
}
.advisorCard .set-index-2 {
	z-index: 2;
}

.advisorCard div[class*="img-circle-container"] {
	border-width: 10px;
	border-style: solid;
	margin: -20px 0px;
}

.advisorCard ul.no-list li {
	margin: 0px;
}

.programCard .no-list li {
	border-bottom: 2px solid;
	border-color: lightgray;
	margin: 0px;
}

.programCard .no-list li a {
	display: block;
	position: relative;
	padding: 10px 0px 10px 20px;
}

.programCard .no-list li a:hover {
	text-decoration: none;
}

.programCard .no-list li a:after {
	content: '\f105';
	font-family: 'FontAwesome';
	position: absolute;
	right: 0;
	top: 4px;
	padding: 0 20px;
	padding-bottom: 4px;
	font-size: 24px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-color: #4BA23F;
	color: black;
}

/*================================================================================================*/
/*================================ JS Classes (smothScroll, etc.) ==============================================*/


.highlight{
	 -webkit-animation: highlight-fade 4s 1;
    -moz-animation: highlight-fade 4s 1;
	animation: highlight-fade 4s 1;
}


@keyframes highlight-fade {
    0% { background-color: #B7DAB2; }
	30% { background-color: #B7DAB2; }
    100% { background-color: white; }
}

@-webkit-keyframes highlight-fade {
    0% { background-color: #B7DAB2; }
	30% { background-color: #B7DAB2; }
    100% { background-color: white; }
}

@-moz-keyframes highlight-fade {
    0% { background-color: #B7DAB2; }
	30% { background-color: #B7DAB2; }
    100% { background-color: white; }
}


/*================================================================================================*/
/*================================ Element Transforms ==============================================*/


/* Img transform */
.img-thumbnail {
	border-radius: 0;
	box-shadow: 0 0 10px #8E8C89;
}

div[class*="img-circle-container-"], div[class*="img-square-container-"] {
	position: relative;
	overflow: hidden;
	z-index: 5;
}

div[class*="img-circle-container-"] {
	border-radius: 50%;
}

div.img-circle-container-xs, div.img-square-container-xs {
	width: 100px;
	height: 100px;
}

div.img-circle-container-sm, div.img-square-container-sm {
	width: 150px;
	height: 150px;
}

div.img-circle-container-md, div.img-square-container-md {
	width: 200px;
	height: 200px;
}

div.img-circle-container-lg, div.imag-square-container-lg {
	width: 300px;
	height: 300px;
}

div[class*="img-circle-container-"] img[class*="img-circle-"] {
	height: 100% !Important;
	width: 100%;
	object-fit: cover;
	object-position: 50% 10%;
	z-index: 2;
}

/*================================================================================================*/
/*================================ Table Transforms ==============================================*/

/* POPUP - __ - FACULTY/STAFF CARD DEFAULT */

.staffButton {
	background-color: #efefef;
	border-top-left-radius: 60px;
	border-bottom-left-radius: 60px;
	min-height: 100px;
	width: 100%;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	position: relative;
	margin: 10px;
}

.staffButton:hover {
	cursor: pointer;
	background-color: #cfcfcf;
}
.staffButton [class*="img-circle-container"] {
	border: 3px solid #81c230;
	margin: 0 !important;
	position: absolute;
	left: 0;
}
.staffButton [class*="img-circle-container"] ~ h3 {
	font-size: 18px;
	font-family: "stratum-1-web";
	text-transform: capitalize;
	padding-left: 110px;
	padding-right: 10px;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
}
.staffButton + * {
	display: none;
}

.cModalWrap .staffCard .display-flex > div > div.img-circle-container-xs {
	position: absolute;
	top: -2.5em;
	left: -2.5em;
}
.cModalWrap img {
	height: auto !important;
	max-height: none;
}

.cModalWrap .staffCard-container {
	background: none;
	border: none;
	border-left: none;
	border-right: none;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.cModalItem .staffCard + .caption {
	display: none;
}

.cModalWrap .staffCard div.equal-height {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

/**************** Responsive Tables *****************/

table.heads  {
    width:auto;
}
/* Force table to not be like tables anymore */
table.heads, .heads thead, .heads tbody, .heads th, .heads td, .heads tr {
	display: block;
}
.heads td {
	/* Behave  like a "row" */
	border: 1px solid #eee;
	position: relative;
	padding-left: 2%;
}
.heads .headsAdapt{
	display:none;
}
.preTd {
	float:left;
	padding-top: 0;
	width: 30%;
}
.postTd {
	float: left;
	width: 100%;
}
.rightTd {
	float: left;
	width: 70%;
}
.nohead, .nohead > td {
	border:none;
	clear: both;
}
.heads td {
	padding-left: 0;
}

/*________________________________________________________________________________________________________________End*/

/****************** honey pot **********************/
#honey_pot, #honeypot, label[for=honeypot], label[for=honey_pot] {
	display:none;
}
/****************** Form styles **********************/
.error{
	color:red;
}

/* WDS FORM STYLE GREY*/
.wds-form-style-grey {
	max-width: 500px;
	background: #F7F7F7;
	padding: 25px 15px 25px 10px;
	font: 12px Georgia, "Times New Roman", Times, serif;
	color: #888;
	text-shadow: 1px 1px 1px #FFF;
	border:1px solid #E4E4E4;
}

.wds-form-style-grey h1 {
	font-size: 25px;
	padding: 0px 0px 10px 40px;
	display: block;
	border-bottom:1px solid #E4E4E4;
	margin: -10px -15px 30px -10px;;
	color: #888;
}

.wds-form-style-grey label {
	display: block;
	margin: 0px;
}

.wds-form-style-grey input[type="text"], .wds-form-style-grey input[type="email"], .wds-form-style-grey textarea, .wds-form-style-grey select {
	border: 1px solid #DADADA;
	color: #888;
	height: 30px;
	margin-bottom: 16px;
	margin-right: 6px;
	margin-top: 2px;
	outline: 0 none;
	padding: 3px 3px 3px 5px;
	width: 70%;
	font-size: 12px;
	line-height:15px;
	box-shadow: inset 0px 1px 4px #ECECEC;
	-moz-box-shadow: inset 0px 1px 4px #ECECEC;
	-webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.wds-form-style-grey textarea{
	padding: 5px 3px 3px 5px;
}
.wds-form-style-grey select {
    background: #FFF url('../img/down-arrow.png') no-repeat right;
    appearance:none;
	-webkit-appearance:none; 
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	width: 70%;
	height: 35px;
	line-height: 25px;
}
.wds-form-style-grey textarea{
	height:100px;
}
.wds-form-style-grey input[type="radio"] {
	margin-top: 30px;
}



/****************** Gallery, Random, Modal and Tableau styles ******************/
.gallery {
	display: block;
	padding: 0;
	margin: 0;
	clear: both;
}
.gallery:after {
	content: '';
	display: block;
	clear: both;
}
.gallery li {
	list-style: none;
	float: left;
	padding: 10px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.gallery li.clearfloat {
	float: none;
}
.gallery a {
	display: block;
	text-decoration: none;
}
.gallery .title {
	display: block;
	font-size: 1.25em;
	font-weight: bold;
}
/* random image */
.randomImage {
	list-style: none;
	padding: 0;
	margin: 0;
}
.randomImage li {
	display: none;
}
.randomImage li:first-child {
	display: block;
}
.randomImage .caption {
	line-height: 1.25em;
}
.randomImage .caption .title {
	font-weight: bold;
	display: block;
}
/* modal */
.cModalBack {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 900;
	display: none;
	opacity: 0;
	background-color: #000;
	background-color: rgba(0,0,0,0.90);
	z-index: 5000;
	/*-webkit-transform: scale(0.9,0.9);
	-moz-transform: scale(0.9,0.9);
	-ms-transform: scale(0.9,0.9);
	-o-transform: scale(0.9,0.9);
	transform: scale(0.9,0.9);	*/
}
.cModalWrap {
	position: fixed;
	text-align: center;
	width: 100%;
	height: 100%;
}
.cModalCont {
	position: relative;
	display: inline-block;
	width: 90%;
	height: auto;
	max-height: 90%;
	vertical-align: middle;
}
.cModalShadow {
	-webkit-box-shadow: 0 2px 20px #000;
	-moz-box-shadow: 0 2px 20px #000;
	box-shadow: 0 2px 20px #000;
}
.cModalCont img {
	max-width: 100%;
	max-height: 100%;
}
.cModalFullHeight {
	height: 90%;
}
.cModalIn {
	height: 100%;
}
.cModalItem {
	height: 100%;
	max-width: 100%;
	margin: auto;
	padding: 0 10px;
}
.cModalItem > img, .cModalItem iframe {
	-webkit-box-shadow: 0 5px 20px #000;
	box-shadow: 0 5px 20px #000;
}
.cModalItem .caption > p,
.cModalItem .caption > h2 {
	color: #fff;
}
.cModalClose {
	height: 30px;
	width: 30px;
        background: url(../img/modal_close.png) 0 0 transparent;
        cursor: pointer;
	position: absolute;
	top: -15px;
	right: -15px;
}
.cModalClose:hover {
	background-position: 0 30px;
}
.cModalAnim {
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;

	-webkit-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-moz-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-ms-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-o-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
	transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.cModalSmall {
	-webkit-transform: scale(0.9,0.9);
	-moz-transform: scale(0.9,0.9);
	-ms-transform: scale(0.9,0.9);
	-o-transform: scale(0.9,0.9);
	transform: scale(0.9,0.9);

	/*	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-ms-filter: blur(2px);
	-o-filter: blur(2px);
	filter: blur(2px);
	*/
}
.cModalBig {
	opacity: 1;
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-ms-transform: scale(1,1);
	-o-transform: scale(1,1);
	transform: scale(1,1);

}
/* tableau view */
.tableauViz {
	border: medium none;
	display: block;
	margin: 0;
	height: 800px;
	padding: 0;
	width: 100%;
}


/*SNIPPET -- Transform-Accordion Default Styles*/
div.accordion > * {
    margin: 0;
    padding: 0;
}

div.accordion:not(.active) {
	margin-bottom: 10px;
}


/*UL Arrow Styles*/

.ul-arrow{
	list-style-type: none;
	list-style-image: none;
}

.ul-arrow li{
	line-height: 25px;
	position: relative;
}

.ul-arrow > li:before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 7px solid #005C2B;
	border-bottom: 5px solid transparent;
	left: -11px;
	top: 7px;
}





/*SNIPPET -- Transform-Faculty Default Styles*/

.tt-faculty-table div{
	padding: 10px;
}

.tt-faculty-table img{
	display: block;
	margin: auto;
}


/****************** 16. Styles Editor DropDown Options ******************/

.img-rounded{
	border-radius: 4px;
}

.img-circle{
	border-radius: 50%
}

.img-border{
	border: 1px solid #ddd;
	border-radius: 3px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	padding: 3px;
}




/* editor buttons */
a[data-region-style='button'].ou-btn.addButtonArea, a[data-region-style='button'].ou-btn.addButtonArea:hover, a[data-region-style='button'].ou-btn.addButtonArea:active, a[data-region-style='button'].ou-btn.addButtonArea:focus {

	background-color: rgb(150,150,100);
	background-image: initial;
}

a[data-region-style='button'].ou-btn.addButtonRow, a[data-region-style='button'].ou-btn.addButtonRow:hover, a[data-region-style='button'].ou-btn.addButtonRow:active, a[data-region-style='button'].ou-btn.addButtonRow:focus {

	background-color: rgb(100,100,150);
	background-image: initial;

}





/*End mobile and up styles*/
/*===============TABLET AND UP===============*/
@media only screen and (min-width: 760px) {
	/********** Main Content ********/
	.jumbo header {
		padding: 60px 40px;
	}
	
	.jumbo header h1{
		color: white;
		font-size: 58px;
	}
	
	.hero-video:before {
		z-index: 2;
	}
	
	
	/********************************* Anchor Group ***********************************************/
	
		li.anchorToggle {
			margin: 1px 0 -5px !important;
		}


	/**************** 12. Responsive Tables ****************/

	.preTd {
		display: none;
		float:none;
	}
	.postTd {
		width: inherit;
		padding: inherit;
		float:none;
		padding-right: 5px;
	}
	.rightTd {
		float:none;
		width:100%;
	}
	table.heads  {
		display:table;
	}
	.heads tbody {
		display:table-row-group;
	}
	.heads th {
		display:table-cell;
	}
	.heads td {
		display:table-cell;
	}
	.heads tr, .heads .headsAdapt  {
		display:table-row;
	}
	.heads .nohead {
		display: none;
	}

	/**************** 13. WDS Form Styles ****************/

	.wds-form-style-grey, .wds-form-style-grey * {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.wds-form-style-grey label
	{
		float: left;
		width: 30%;
		text-align: right;
		padding-right: 10px;
		margin-top: 10px;
		color: #888;
		clear: both;
	}
	.wds-form-style-grey input[type="text"], .wds-form-style-grey input[type="email"], .wds-form-style-grey textarea, .wds-form-style-grey select {
		width: 68%;
	}
	.wds-form-style-grey .full-width{
		width: 100%;
		text-align: left;
	}
	.wds-form-style-grey p, .wds-form-style-grey h1, .wds-form-style-grey h2, .wds-form-style-grey h3, .wds-form-style-grey h4, .wds-form-style-grey h5, .wds-form-style-grey h6, .wds-form-style-grey br{
		clear: both;		
	}

/* ======== OBSOLETE/TO BE REVIEWED/NOT SURE ======== */
img.fullbleed {
	display: none;
}
	.block-header{
	padding: 13px;
	background-color: #275D38;
	color: white;
	text-transform: uppercase;
}

.thumbnail .block-header{
	padding: 13px;
}

.page-header {
	padding-bottom: 80px;
	border-bottom: 1px solid #eee;
	margin-bottom: 0px;
}
	
	.link-1, .link-2, .link-3, .link-4, .link-5, .link-6, .link-7, .link-8, .link-9 {
		display: inline-block;
		position: relative;
		text-decoration: none;
		font-family: 'Rajdhani', sans-serif;
		border-radius: 10px;
		border: 2px solid transparent;
		padding: 15px 20px;
		margin-bottom: 10px;
		width: calc(85% - 10px);
		text-transform: uppercase;
	}
	.link-1, .link-2, .link-3 {
		background-color: #285e39;
		color: #fff;
	}
	.link-1, .link-4, .link-7 {
		text-align: center;
	}
	.link-1, .link-2, .link-3, .link-7 {
		border-color: #285e39;
	}
	.link-4, .link-5, .link-6, .link-7, .link-8, .link-9 {
		color: #285e39;
	}
	.link-5, .link-6 {
		background-color: #ebebeb;
	}
	.link-4, .link-5, .link-6 {
		border-color: #ebebeb;
	}
	.link-8, .link-9 {
		box-shadow: 0px 0px 5px #8E8C89;
	}

	.link-2, .link-3, .link-5, .link-6, .link-8, .link-9 {
		padding-right: 90px;
	}
	.link-1:after, .link-4:after, .link-7:after {
		display: none;
	}
	.link-2:after, .link-3:after, .link-5:after, .link-6:after, .link-8:after, .link-9:after {
		content: '\f0ed';
		font-family: 'FontAwesome';
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		position: absolute;
		right: -2px; top: 0; bottom: 0;
		margin: auto;
		height: calc(100% + 4px);
		padding: 15px 25px;
		border: 2px solid transparent;
		border-radius: 0 7px 7px 0;
	}
	.link-2:after, .link-5:after {
		background-color: #f4f4f4;
		border-color: #f4f4f4;
		color: #285e39;
	}
	.link-8:after {
		background-color: #285e39;
		border-color: #285e39;
		color: #fff;
	}
	.link-9:after {
		color: #b7b7b7;
	}
	
	.link-1:hover, .link-2:hover, .link-3:hover, .link-4:hover, .link-5:hover, .link-6:hover, .link-7:hover, .link-8:hover, .link-9:hover {
	text-decoration: none;
}

.link-3:hover, .link-4:hover, .link-5:hover, .link-6:hover, .link-7:hover, .link-8:hover, .link-9:hover, .link-9:hover:after {
	color:#ffffff
}

.link-2:hover:after, .link-5:hover, .link-6:hover, .link-7:hover, .link-8:hover, .link-9:hover {
	background-color: #275D38;
}

.link-2:hover:after, .link-5:hover, .link-6:hover {
    border-color: #275D38;
}

.link-1:hover {
	background-color: #ebebeb;
}

.link-2:hover {
	background-color: #f4f4f4;
}

.link-2:hover:after {
	color: #f4f4f4;
}

.link-3:hover {
	background-color: #3F6F4E;
    border-color: #3F6F4E;
}

.link-4:hover {
	background-color: #707070;
}

.link-8:hover:after {
	background-color: #ffffff;
    color: #275D38;
}
	
	
	button.half-centered{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
	.button-styles > div {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: space-between;
		justify-content: space-between;
	}
	.button-styles a {
		display: inline-block;
		position: relative;
		text-decoration: none;
		font-family: 'Rajdhani', sans-serif;
		border-radius: 10px;
		border: 2px solid transparent;
		padding: 15px 20px;
		margin-bottom: 10px;
		width: calc(33% - 10px);
		text-transform: uppercase;
	}
	.button-styles a:hover, .button-styles a:focus {
		text-decoration: none;
		color: currentColor;
	}
	.button-styles a:after {
		font-family: "FontAwesome";
	}


	/*================================================================================================*/
	/*================================ Table Transforms ==============================================*/

	/* POPUP - __ - FACULTY/STAFF CARD DEFAULT */
	.cModalWrap .staffCard {
		transform: scale(1.5);
	}
	
	

}/*end media query*/
/*End tablet and up styles*/
/*===============DESKTOP ONLY===============*/
@media only screen and (min-width: 1100px) {


	/*================================================================================================*/
	/*================================ Table Transforms ==============================================*/

	/* POPUP - __ - FACULTY/STAFF CARD DEFAULT */
	.cModalWrap .staffCard {
		transform: scale(2);
	}	


}/*end media query*/
/*end desktop only styles*/
/*END OF DOCUMENT*/

