html,body{
    /*height: 100%;*/
}

a{
    /*color: #9a9827;*/
}

main{
    /*100% - footer, assuming header is fixed*/
    /*min-height: calc(100% - 53px);*/
}

.auth-form{
    /*margin: 5em auto;*/
}

/** Padding and Margin**/
.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.tiny-padding {
    padding: 0.5em;
}
.tiny-padding-top {
    padding-top: 0.5em;
}
.tiny-padding-bottom {
    padding-bottom: 0.5em;
}

.padding-1em {
    padding: 1em;
}

.padding-top-1em {
    padding-top: 1em !important;
}

.padding-btm-1em {
    padding-bottom: 1em !important;
}

.padding-top-2em {
    padding-top: 2em !important;
}

.padding-btm-2em {
    padding-bottom: 2em !important;
}

.padding-top-4em {
    padding-top: 4em !important;
}

.padding-btm-4em {
    padding-bottom: 4em !important;
}

.tiny-margin{
    margin: .5em;
}
.tiny-margin-top{
    margin-top: .5em;
}
.tiny-margin-bottom{
    margin-bottom: .5em;
}

.margin-1em{
    margin: 1em;
}

.margin-btm-1em {
    margin-bottom: 1em !important;
}

.margin-top-1em {
    margin-top: 1em !important;
}

.margin-btm-2em {
    margin-bottom: 2em !important;
}

.margin-top-2em {
    margin-top: 2em !important;
}

.margin-btm-4em {
    margin-bottom: 4em !important;
}

.margin-top-4em {
    margin-top: 4em !important;
}


/*Fonts*/
.font-sm{
    font-size: .8em !important;
}

.font-lg{
    font-size: 2em !important;
}

.font-xl{
    font-size: 3em !important;
}
.font-bold{
    font-weight: 700;
}

/*Page loader*/
div#page-loader{
    background-color: rgba(255,255,255,0);
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 9000;
    height: 100%;
    width: 100%;
    display: none;
}


div#page-loader div{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: auto;
    width: 250px;
    color: black;
    padding: 20px 30px;
    background-color: white;
    border: #e0e0e0 thick solid;
    border-radius: 5px;
}

/*Navbar*/
.navbar-brand{
    padding: 5px;
}

.navbar-brand img, .masthead-brand img{
    border-radius: 5px;
    height: 40px;
}

/*.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #260148;
    border-color: #361158;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
    color: #361158;
}
.pagination>li>a, .pagination>li>span{
    color: #361158;
}*/


/*Buttons*/
button.btn-really-big{
    font-size: 40px
}

/*Transaction Jumbotron*/
.notification.error{
    background-color: rgba(208, 82, 117, 0.5);
    -webkit-box-shadow: inset 0 0 100px rgba(208, 82, 117, 0.5);
    box-shadow: inset 0 0 100px rgba(7,7,7,.5);
}
.notification.success{
    background-color: rgba(76, 175, 80, 0.5);
    -webkit-box-shadow: inset 0 0 100px rgba(76, 175, 80, 0.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.notification{
    padding: 10px;
    /*background-color: rgba(0,0,0, 0.5);
        -webkit-box-shadow: inset 0 0 100px rgba(0,0,0, 0.5);
        box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
}
.notification .msg-block{
    padding: 10px;
    color: white;
    border-radius: 5px;
}
.notification.success .msg-block{
    background-color: #4CAF50;
    border: #00796b thin solid;
}
.notification.error .msg-block{
    background-color: #a53957;
    border: #EF5350 thin solid;
}

.indent{
    margin-left: 10px;
}

.sb-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}

.sb-icon-search {
    color: #fff;
    z-index: 90;
    font-size: 14px;
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
}

.sb-icon-search:before {
    content: "\f002";
}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
    width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
    background: #666;
    color: #fff;
    z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
    z-index: 90;
}





.style-home-page2.header2-inn .header2 .content{
    position: absolute;
    top: 30%;
    left: 10px;
    text-align: center;
    width: 100%;
    right: 10px;
}

/*search bar*/

* {
    box-sizing: border-box;
}

/* Style the search field */

.form {
    margin-top: 18px;  

}






form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;

}

/* Style the submit button */
form.example button {
    float: right;
    width: 20%;
    padding: 10px;
    background: #000;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display:table;
}

/* end searchbar */

/*Stat boxes*/
.stat div  div{
    min-height: 50px;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.stat  div{
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.stat{
    margin-bottom: 30px;
}

.stat a:hover, .stat a:active, .stat a:focus{
    text-decoration: none;
    font-weight: normal;
}

/**
* Overrides
*/
.header + section .container > div {
    margin-top: 100px;
}

.counter:before{
    opacity: 0.8;
}

.sec-title h2{
    color: black;
}

span.header__tagline{
    margin-top: 15px;
}

ol[type='A'].upper > li {
    list-style: upper-alpha;
}

ol[type='a'] > li{
    list-style: lower-alpha;
} 
#admin{
    background-color:black;
    color:white;
    text-align:left;
    margin-right:0px;
    width: 200px;
    margin-top:0px;
    height: 300px;
}

ol[type='a'] > li:before, ol[type='A'] > li:before {
    content: '';
    /*    position: absolute;
        left: -20px;
    top: 0px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.15em;
    font-weight: bold;
        color: #285d39;*/
}
.buttons{

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;


}
.button5 {background-color: black;} /* Black */
.button6 {background-color: cadetblue;} /* Black */

/**
Sidenav
*/

#navOverlay{
    position: fixed;
    z-index: 1001;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.7);
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1002;
    top:0;
    left:0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: #fff;
    font-family: "Rajdhani", arial, sans-serif;
    font-weight: 400;
}

.sidenav a {
    padding: 0 5px 0 20px;
    text-decoration: none;
    font-size: 20px;
    color: gray;
    display: block;
    color:#fff;
    transition: 0.3s;

}

.sidenav a:hover{
    color:#fff;

}
.sidenav .closebtn{
    position:absolute;
    top:0;
    right:20px;
    margin-left: 50px;
}

.mark-required:after{
    content: ' *';
    color: red;
    font-family: cursive;
}

.clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 1.8; /* fallback*/
    max-height: 5.6em; /* fallback */
}

@media screen and (max-height:450px){
    .sidenav { padding-top:15px;}
    .sidenav a{font-size:18px;}
}

.light-fx{
    float: right;
    text-align: center;
    color: #f1f1f1;
    text-decoration: none;
    font-size: 20px;
    word-spacing: 2px;
}
.light-fx > h3{
    text-align: right;
    color: #f1f1f1;
    margin-bottom: -5px;
    font-size: 30px;
    word-spacing: 1px;
    letter-spacing: 3px;
}


.clear{
    clear: both;
}


.light-fx > p{
    margin-bottom: -15px;
}

.fa {
    padding: 5px;
    /*font-size: 25px;*/
    width: 35px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa-facebook {
    background: #533e05;
    color: white;

}
.fa-instagram {
    /* color: rgb(14, 14, 14); */

}
.fa:hover {
    text-decoration: none;
    opacity: 0.5;
}

.fa-twitter {
    color: #533e05;
    font-size: 30px;
}
.socialLinks{
    float: right;
}
.admissions{
    background-color: #533e05;
    color: #f1f1f1;
    padding: 5px 15px;
}
.admissions:hover{
    text-decoration: none;
    color: #f1f1f1;

}
.career_reg{
    text-decoration: none;
    background-color: #ffffff;
    color: #0c0c0c;
    padding: 2px 7px;
    font-size: 13px;
}
.career_reg:hover{
    text-decoration: none;
    color: #0c0b0b;
    font-weight: bold;
    font-size: 15px;
}
.career_sub{
    color: #f1f1f1;
    background-color: #977007;
    font-size: 18px;
}

.career_sub:hover{
    color: #f1f1f1;
    text-decoration: none;
}
.career_fill{
    color: #005145;
    font-weight: bold;
}
.center{
    margin: 0 auto;
    float: none;
}
.tablex {
    text-align: center;
    border-bottom: 4px solid #977007;
}

.red1{
    color: #ce0f0f;
    font-weight: bolder;
    margin-top: -10px;
    border-top:1px solid #c8c7c4;
    font-size: 30px;
    /* border-top:1px solid #959090; */
}
.red2{
    color: #ce0f0f;
    font-weight: bolder;
    margin-top: -10px;
    font-size: 30px;
    border-bottom:1px solid #c8c7c4;
    /* border-top:1px solid #959090; */
}

.reg a{
    width: 100%;
    background-color: #977007;
    padding: 0 40%;
    color: rgb(253, 253, 253);
    font-size: 20px;
}
.reg a:hover{
    text-decoration: none;
}
#headtxt{
    font-size: 40px;
    margin-top: 50px;
}

#text-carousel .carousel-inner{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 750px) {
    #text-carousel .carousel-inner{
        width: 600px;
    }
}

@media only screen and (max-width: 600px) {
    #headtxt{
        font-size: 25px;
        margin-top: 30px;
    }

    .item{
        min-height: 40vh;
        max-height: 40vh;
    }

    #text-carousel .carousel-inner{
        width: 300px;
    }
}
.item{
    min-height: 70vh;
    max-height: 70vh;
}

.news-box {
    height: 350px;
}

.img-box {
    height: 250px; 
    overflow: hidden;
    background-size: cover; 
    background-position: center; 
    border-bottom: 10px solid #b3a270;
}

.caption-box {
    height: 100px; 
    padding: 0;
}

.mb-10 {
    margin-bottom: 10px;
}

.marquee {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee > h3 {
    display: inline-block;
    padding-left: 100%;
    -moz-animation: marquee 70s linear infinite;
    -webkit-animation: marquee 70s linear infinite;
    animation: marquee 70s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes marquee {
    0%   { -moz-transform: translateX(0%); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes marquee {
    0%   { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}

@keyframes marquee {
    0%   { 
        -moz-transform: translateX(0%); /* Firefox bug fix */
        -webkit-transform: translateX(0%); /* Firefox bug fix */
        transform: translateX(0%); 		
    }
    100% { 
        -moz-transform: translateX(-100%); /* Firefox bug fix */
        -webkit-transform: translateX(-100%); /* Firefox bug fix */
        transform: translateX(-100%); 
    }
}

