/* Department CSS Document */
/*For mobile first adaptive design place styles for mobile and up in the mobile and up area.
Place styles for tablet and up inside the media query in the tablet and up area.
Place styles for desktop only inside the media query in the desktop only area.

For questions or media query training contact Web Development Services.
*/
/*===============MOBILE AND UP===============*/

/*==================================================================================*/
/*================================ Bootstrap Resets ===========================================*/

h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a {
    font-family: 'Rajdhani', sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #1E5631;
}
h1 a { font-size:36px; }
h2 a { font-size: 30px; }
h3 a { font-size: 24px; }
h4 a { font-size: 18px; }
h5 a { font-size: 14px; }
h6 a { font-size: 12px; }

.row:before, .row:after{
    width:0;
}


body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #333;
    font-size: 16px;
}

iframe {
    border: 0;
    outline: 0;
}


.btn-primary {
    background: #634e15;
    border: solid 2px #fff;
    color: #fff;
    -moz-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
}

.btn-primary:hover,.btn-primary:active,.btn-primary:focus {
    background-color: #8a6d3b;
    border: solid 2px #fff;
    color: #fff;
}

.btn-primary-inverse{
    color: black;
    border: 2px solid black;
    -moz-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
}

.btn-primary-inverse:hover{
    background-color: black;
    color: white;
}

.thumbnail h2, .thumbnail h3{
    padding: 0px;
}
.boxButton a{
    -moz-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
}

li{
    margin: 10px 0 5px;
    position: relative;
}

a {
    color: #1E5631;
    text-decoration: none;
}

a:focus, a:hover {
    color: #634e15;
    text-decoration: underline;
}

blockquote {
    border-width: 7px;
    margin: 20px 0px;
}

figcaption {
    color: #5e5e5e;
    font-size: 12px;
    margin: 0 5px;
    padding-bottom: 5px;
}

.jumbo header h1{
    color: white;
    font-size: 58px;
}

.jumbo header p{
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
    color: #ffffff;
}

.jumbo header a{
    color: white;
    text-decoration: none;
}

.jumbo header a:hover{
    text-decoration: none;
}


img {
    max-width: 100%;
    height: auto;
}

.container-fluid{
    max-width: 1200px;
}

section {

}
.region {
    padding-top: 15px;
    padding-bottom: 15px;
}

ol {
    counter-reset: orderedList;
}

ol > li {
    counter-increment: orderedList;
}

ol > li:before {
    content: counter(orderedList)'.';
    position: absolute;
    left: -20px;
    top: 0px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.15em;
    font-weight: bold;
    color: #285d39;
}

legend {
    color: inherit;
    font-size: inherit;
    margin-bottom: 10px;
    border: none;
}

label {
    font-weight: normal;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #efede8;
}

/* HIDE DEPT NAV EXTERNAL LINK CHECKBOX VALUE */
dept-nav-external {display: none;}


/*End mobile and up styles*/
/*===============TABLET AND UP===============*/
@media only screen and (min-width: 760px) {





}/*end media query*/
/*End tablet and up styles*/
/*===============DESKTOP ONLY===============*/
@media only screen and (min-width: 1100px) {




}/*end media query*/
/*end desktop only styles*/
/*END OF DOCUMENT*/
