/* Department CSS Document */
/*===============MOBILE AND UP===============*/


/*========== TEXT SIZES ==========*/

.text-11 { font-size: 11px; line-height: 1.2em; }
.text-12 { font-size: 12px; line-height: 1.2em; }
.text-14 { font-size: 14px; line-height: 1.2em; }
.text-16 { font-size: 16px; line-height: 1.2em; }
.text-18 { font-size: 18px; line-height: 1.2em; }
.text-20 { font-size: 20px; line-height: 1.2em; }
.text-22 { font-size: 22px; line-height: 1.2em; }
.text-24 { font-size: 24px; line-height: 1.2em; }
.text-26 { font-size: 26px; line-height: 1.2em; }
.text-28 { font-size: 28px; line-height: 1.2em; }
.text-32 { font-size: 32px; line-height: 1.2em; }
.text-36 { font-size: 36px; line-height: 1.2em; }
.text-48 { font-size: 48px; line-height: 1.2em; }
.text-60 { font-size: 60px; line-height: 1.2em; }
.text-72 { font-size: 72px; line-height: 1.2em; }
.text-84 { font-size: 84px; line-height: 1.2em; }
.text-96 { font-size: 96px; line-height: 1.2em; }
.text-108 { font-size: 108px; line-height: 1.2em; }

/*========== FONT WEIGHTS ==========*/

.font-weight-100 {font-weight:100;}
.font-weight-200 {font-weight:200;}
.font-weight-300 {font-weight:300;}
.font-weight-400 {font-weight:400;}
.font-weight-500 {font-weight:500;}
.font-weight-600 {font-weight:600;}
.font-weight-700 {font-weight:700;}
.font-weight-800 {font-weight:800;}
.font-weight-900 {font-weight:900;}

/*=========== TEXT COLORS ==========*/

.text-white, .text-white-a, .text-white-hover:hover, .text-white-after::after, .text-white-hover-after:hover:after { color: #ffffff;}
.text-black { color: #000000; }
.text-default-color { color: #777777; }
.text-primary-1, .text-Oko-green-1 { color: #87A590; }
.text-primary-2, .text-Oko-green-2 { color: #6F937A; }
.text-primary-3, .text-Oko-green-3 { color: #578164; }
.text-primary-4, .text-Oko-green-4 { color: #3F6F4E; }
.text-primary-6, .text-Oko-green-6 { color: #235332; }
.text-primary-7, .text-Oko-green-7 { color: #1E482C; }
.text-forest, .text-green { color: #1E5631; }
.text-forest-2 { color: #E6F3EC; }
.text-forest-3 { color: #99CEB1; }
.text-forest-4 { color: #4DA977; }
.text-forest-6 { color: #005C2B; }
.text-forest-7 { color: #003518;}
.text-clover { color: #4ba23f; }
.text-clover-2 { color: #EDF6EC; }
.text-clover-3 { color: #B7DAB2; }
.text-clover-4 { color: #81BE79; }
.text-clover-6 { color: #35712C; }
.text-clover-7 { color: #1E4119; }
.text-fern { color: #634e15; }
.text-fern-2 { color: #F2F9E9; }
.text-fern-3 { color: #C9E5A6; }
.text-fern-4 { color: #A1D263; }
.text-fern-6 { color: #548516; }
.text-fern-7 { color: #304C0D; }
.text-lime { color: #c5e86c; }
.text-lime-2 { color: #F9FDF0; }
.text-lime-3 { color: #E8F6C4; }
.text-lime-4 { color: #D6EF98; }
.text-lime-6 { color: #8AA24C; }
.text-lime-7 { color: #4F5D2B; }
.text-aqua { color: #86c8bc; }
.text-aqua-2 { color: #F3FAF8; }
.text-aqua-3 { color: #CFE9E4; }
.text-aqua-4 { color: #AAD9D0; }
.text-aqua-6 { color: #5E8C84; }
.text-aqua-7 { color: #36504B; }
.text-teal, .text-teal-a, .text-teal-hover:hover, .text-teal-after::after, .text-teal-hover-after:hover:after { color: #00bfb3; }
.text-teal-2 { color: #E6F9F7; }
.text-teal-3 { color: #99E5E1; }
.text-teal-4 { color: #4DD2CA; }
.text-teal-6 { color: #00867D; }
.text-teal-7 { color: #004C48; }
.text-blue { color: #0095c8; }
.text-blue-2 { color: #E6F4FA; }
.text-blue-3 { color: #99D5E9; }
.text-blue-4 { color: #4DB5D9; }
.text-blue-6 { color: #00688C; }
.text-blue-7 { color: #003C50; }
.text-blue-light { color: #003C50; }
.text-blue-light-2 { color: #F8FBFD; }
.text-blue-light-3 { color: #E5EFF5; }
.text-blue-light-4 { color: #D1E2EE; }
.text-blue-light-6 { color: #8496A1; }
.text-blue-light-7 { color: #4C565C; }
.text-purple { color: #595478; }
.text-purple-2 { color: #EEEEF2; }
.text-purple-3 { color:#BDBBC9; }
.text-purple-4 { color: #8B87A1; }
.text-purple-6 { color: #3E3B54; }
.text-purple-7 { color: #242230; }
.text-beige { color: #ddd0ce; }
.text-beige-2 { color: #FCFAFA; }
.text-beige-3 { color:#F1ECEB; }
.text-beige-4 { color: #E7DEDD; }
.text-beige-6 { color: #9B9290; }
.text-beige-7 { color: #242230; }
.text-brick-light { color: #585352; }
.text-brick-light-2 { color: #F8F3F2; }
.text-brick-light-3 { color: #E4CDC9; }
.text-brick-light-4 { color: #D0A8A1; }
.text-brick-light-6 { color: #845B55; }
.text-brick-light-7 { color: #4B3430; }
.text-brick { color: #823b34; }
.text-brick-2 { color: #F3EBEB; }
.text-brick-3 { color: #CDB1AE; }
.text-brick-4 { color: #A87671; }
.text-brick-6 { color: #5B2924; }
.text-brick-7 { color: #341815; }
.text-red { color: #e15230; }
.text-red-2 { color: #FCEEEA; }
.text-red-3 { color: #F3BAAC; }
.text-red-4 { color: #EA866E; }
.text-red-6 { color: #9E3922; }
.text-red-7 { color: #5A2113; }
.text-orange { color: #d45d00; }
.text-orange-2 { color: #FBEFE6; }
.text-orange-3 { color: #EEBE99; }
.text-orange-4 { color: #E18E4D; }
.text-orange-6 { color: #944100; }
.text-orange-7 { color: #552500; }
.text-gold { color: #ffb500; }
.text-gold-2 { color: #FFF8E6; }
.text-gold-3 { color: #FFE199; }
.text-gold-4 { color: #FFCB4D; }
.text-gold-6 { color: #B37F00; }
.text-gold-7 { color: #664800; }
.text-yellow { color: #fbd865; }
.text-yellow-2 { color: #FFFBF0; }
.text-yellow-3 { color: #FDEFC1; }
.text-yellow-4 { color: #FCE493; }
.text-yellow-6 { color: #B09747; }
.text-yellow-7 { color: #645628; }
.text-brown { color: #696158; }
.text-brown-2 { color: #F0EFEE; }
.text-brown-3 { color: #C3C0BC; }
.text-brown-4 { color: #96908A; }
.text-brown-6 { color: #4A443E; }
.text-brown-7 { color: #2A2723; }
.text-grey-dark, .text-gray-dark { color: #a7a8aa; }
.text-grey-dark-2, .text-gray-dark-2 {color: #F6F6F7;}
.text-grey-dark-3, .text-gray-dark-3 {color: #DCDCDD;}
.text-grey-dark-4, .text-gray-dark-4 {color: #C1C2C4;}
.text-grey-dark-6, .text-gray-dark-6 {color: #757677;}
.text-grey-dark-7, .text-gray-dark-7 {color: #434344;}
/*.text-white p, .text-white li, .text-white a, .text-white a:hover, a.text-white:hover {
color: #ffffff !important;
}
.hover-text-white:hover{ color: white; }*/


/*=========== TEXT STYLES ==========*/

.text-uppercase, .uppercase { text-transform: uppercase; }
.bold, .strong { font-weight: bold; }
.italic { font-style:italic; }
.text-xkerning { letter-spacing: .2em; }
.text-raleway { font-family: "Raleway", arial, sans-serif; }
.text-rajdhani { font-family: "Rajdhani", arial, sans-serif; }
.text-lato { font-family: "Lato", arial, sans-serif; }
.text-arial { font-family: "Arial", sans-serif; }
.text-left { text-align: left; }
.text-right { text-align: right;}
.text-center { text-align: center; }
.text-justify { text-align: justify; }


/*=========== BACKGROUND COLORS & STYLES ==========*/
.bg-black { background-color: #000; }
.bg-silver { background-color: #8E8C89; }
.bg-grey, .bg-gray { background-color: rgb(232,232,232); }
.bg-grey-xlight, .bg-gray-xlight { background-color: #f9f9f9; }
.bg-white, .bg-white-hover:hover, .bg-white-after::after, .bg-white-hover-after:hover:after { background-color: #fff; }			
.bg-Oko-green, .bg-primary { background-color: rgb(9, 16, 107); }
.bg-Oko-green-1 { background-color: #87A590; }
.bg-Oko-green-2 { background-color: #6F937A; }
.bg-Oko-green-3, .bg-green-light { background-color: #578164; }
.bg-Oko-green-4, .bg-green2 { background-color: #3f6f4e; }
.bg-Oko-green-6 { background-color: #235332; }
.bg-Oko-green-7 { background-color: #1E482C; }	
.bg-forest, .bg-green {	background-color: #634e15; }
.bg-forest-2 { background-color: #E6F3EC; }
.bg-forest-3 { background-color: #99CEB1; }
.bg-forest-4 { background-color: #4DA977; }
.bg-forest-6 { background-color: #005C2B; }
.bg-forest-7 { background-color: #003518;}
.bg-clover { background-color: #4ba23f; }
.bg-clover-2 { background-color: #EDF6EC; }
.bg-clover-3 { background-color: #B7DAB2; }
.bg-clover-4 { background-color: #81BE79; }
.bg-clover-6 { background-color: #35712C; }
.bg-clover-7 { background-color: #1E4119; }
.bg-fern { background-color: #78be20; }
.bg-fern-2 { background-color: #F2F9E9; }
.bg-fern-3 { background-color: #C9E5A6; }
.bg-fern-4 { background-color: #A1D263; }
.bg-fern-6 { background-color: #548516; }
.bg-fern-7 { background-color: #304C0D; }
.bg-lime { background-color: #c5e86c; }
.bg-lime-2 { background-color: #F9FDF0; }
.bg-lime-3 { background-color: #E8F6C4; }
.bg-lime-4 { background-color: #D6EF98; }
.bg-lime-6 { background-color: #8AA24C; }
.bg-lime-7 { background-color: #4F5D2B; }
.bg-aqua, .bg-Oko-lightaqua { background-color: #86c8bc; }
.bg-aqua-2 { background-color: #F3FAF8; }
.bg-aqua-3 { background-color: #CFE9E4; }
.bg-aqua-4 { background-color: #AAD9D0; }
.bg-aqua-6 { background-color: #5E8C84; }
.bg-aqua-7 { background-color: #36504B; }
.bg-teal, .bg-teal-hover:hover, .bg-teal-after::after, .bg-teal-hover-after:hover:after { background-color: #00bfb3; }
.bg-teal-2 { background-color: #E6F9F7; }
.bg-teal-3 { background-color: #99E5E1; }
.bg-teal-4 { background-color: #4DD2CA; }
.bg-teal-6 { background-color: #00867D; }
.bg-teal-7 { background-color: #004C48; }
.bg-blue { background-color: #0095c8; }
.bg-blue-2 { background-color: #E6F4FA; }
.bg-blue-3 { background-color: #99D5E9; }
.bg-blue-4 { background-color: #4DB5D9; }
.bg-blue-6 { background-color: #00688C; }
.bg-blue-7 { background-color: #003C50; }
.bg-blue-light { background-color: #bdd6e6; }
.bg-blue-light-2 { background-color: #F8FBFD; }
.bg-blue-light-3 { background-color: #E5EFF5; }
.bg-blue-light-4 { background-color: #D1E2EE; }
.bg-blue-light-6 { background-color: #8496A1; }
.bg-blue-light-7 { background-color: #4C565C; }
.bg-purple { background-color: #595478; }
.bg-purple-2 { background-color: #EEEEF2; }
.bg-purple-3 { background-color:#BDBBC9; }
.bg-purple-4 { background-color: #8B87A1; }
.bg-purple-6 { background-color: #3E3B54; }
.bg-purple-7 { background-color: #242230; }
.bg-beige { background-color: #ddd0ce; }
.bg-beige-2 { background-color: #FCFAFA; }
.bg-beige-3 { background-color:#F1ECEB; }
.bg-beige-4 { background-color: #E7DEDD; }
.bg-beige-6 { background-color: #9B9290; }
.bg-beige-7 { background-color: #242230; }
.bg-brick-light, .bg-Oko-lightbrick { background-color: #bc8279; }
.bg-brick-light-2 { background-color: #F8F3F2; }
.bg-brick-light-3 { background-color: #E4CDC9; }
.bg-brick-light-4 { background-color: #D0A8A1; }
.bg-brick-light-6 { background-color: #845B55; }
.bg-brick-light-7 { background-color: #4B3430; }
.bg-brick { background-color: #823b34; }
.bg-brick-2 { background-color: #F3EBEB; }
.bg-brick-3 { background-color: #CDB1AE; }
.bg-brick-4 { background-color: #A87671; }
.bg-brick-6 { background-color: #5B2924; }
.bg-brick-7 { background-color: #341815; }
.bg-red { background-color: #e15230; }
.bg-red-2 { background-color: #FCEEEA; }
.bg-red-3 { background-color: #F3BAAC; }
.bg-red-4 { background-color: #EA866E; }
.bg-red-6 { background-color: #9E3922; }
.bg-red-7 { background-color: #5A2113; }
.bg-orange { background-color: #d45d00; }
.bg-orange-2 { background-color: #FBEFE6; }
.bg-orange-3 { background-color: #EEBE99; }
.bg-orange-4 { background-color: #E18E4D; }
.bg-orange-6 { background-color: #944100; }
.bg-orange-7 { background-color: #552500; }
.bg-gold { background-color: #ffb500; }
.bg-gold-2 { background-color: #FFF8E6; }
.bg-gold-3 { background-color: #FFE199; }
.bg-gold-4 { background-color: #FFCB4D; }
.bg-gold-6 { background-color: #B37F00; }
.bg-gold-7 { background-color: #664800; }
.bg-yellow, .bg-Oko-yellow { background-color: #fbd865; }
.bg-yellow-2 { background-color: #FFFBF0; }
.bg-yellow-3 { background-color: #FDEFC1; }
.bg-yellow-4 { background-color: #FCE493; }
.bg-yellow-6 { background-color: #B09747; }
.bg-yellow-7 { background-color: #645628; }
.bg-brown, .bg-Oko-brown { background-color: #696158; }
.bg-brown-2 { background-color: #F0EFEE; }
.bg-brown-3 { background-color: #C3C0BC; }
.bg-brown-4 { background-color: #96908A; }
.bg-brown-6 { background-color: #4A443E; }
.bg-brown-7 { background-color: #2A2723; }
.bg-grey-dark, .bg-gray-dark { background-color: #a7a8aa; }
.bg-grey-dark-2, .bg-gray-dark-2 {background-color: #F6F6F7;}
.bg-grey-dark-3, .bg-gray-dark-3 {background-color: #DCDCDD;}
.bg-grey-dark-4, .bg-gray-dark-4 {background-color: #C1C2C4;}
.bg-grey-dark-6, .bg-gray-dark-6 {background-color: #757677;}
.bg-grey-dark-7, .bg-gray-dark-7 {background-color: #434344;}
.bg-diagonal { background-image: url("../img/bg-diagonal.jpg"); }
.bg-diagonal-black { background-image: url("../img/bg-diagonal-black.png");
                     background-size: 8px;
	background-repeat: repeat;
}
.subtle-surface-backing {
	background-color: #f8f8f8;
        background-image: url(../img/subtle_surface.png);
}
.bg-image { background-repeat:no-repeat; background-position: top center; background-size: cover; }



/* ========== BACKGROUND FILL OPACITY =========== */
.header-opacity-0{background-color: rgba(0,0,0,0.0);}
.header-opacity-1{background-color: rgba(0,0,0,0.1);}
.header-opacity-2{background-color: rgba(0,0,0,0.2);}
.header-opacity-3{background-color: rgba(0,0,0,0.3);}
.header-opacity-4{background-color: rgba(0,0,0,0.4);}
.header-opacity-5{background-color: rgba(0,0,0,0.5);}
.header-opacity-6{background-color: rgba(0,0,0,0.6);}
.header-opacity-7{background-color: rgba(0,0,0,0.7);}
.header-opacity-8{background-color: rgba(0,0,0,0.8);}
.header-opacity-9{background-color: rgba(0,0,0,0.9);}

/*=========== IMAGE STYLES ==========*/

/* Makes element look like a nice image caption */
.image-caption {
	color: #5e5e5e;
	font-size: 12px;
	margin: 0 5px;
	padding-bottom: 5px;
}
.greyscale, .grayscale {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.greyscale:hover, .grayscale:hover {
	filter: none;
	-webkit-filter: none;
}
img.shadow{
	box-shadow: 0px 1px 4px #8E8C89;
	padding: 8px;
}
.fullbleed-image{
	margin: 20px -20px;
}
.fullbleed-image-top{
	margin: -20px -20px 20px -20px;
}
.blur {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
}
.blur:hover {
	-webkit-filter: blur(0px);
	filter: blur(0px);
	filter: none;
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}
.hover-blur:hover {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
}
.image-center{ display: block; margin: 0 auto; }


/*=========== BORDERS & UNDERLINE ==========*/

/* Puts a nice underline under headers */
.underline-header:after {
	display: block;
	content: '';
	margin: 10px auto;
	max-width: 60px;
	border-top: 5px solid #ccc;
}
.border-1-ddd{
	border: 1px solid #ddd;
}
.border-radius{
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
.box-shadow{
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.border-grey{
	border: 5px solid grey;
}
.border-radius, .border-radius-4 {
	border-radius: 4px;
}

/*---- Border all around----*/
.border-1 {	border: 1px solid; }
.border-2 {	border: 2px solid; }
.border-3 { border: 3px solid; }
.border-4 {	border: 4px solid; }
.border-5 {	border: 5px solid; }

/*---- Border Top----*/
.border-top-1 { border-top: 1px solid; }
.border-top-2 {	border-top: 2px solid; }
.border-top-3 {	border-top: 3px solid; }
.border-top-4 {	border-top: 4px solid; }
.border-top-5 {	border-top: 5px solid; }

/*---- Border Right----*/
.border-right-1 { border-right: 1px solid; }
.border-right-2 { border-right: 2px solid; }
.border-right-3 { border-right: 3px solid; }
.border-right-4 { border-right: 4px solid; }
.border-right-5 { border-right: 5px solid; }

/*---- Border Bottom----*/
.border-bottom-1 { border-bottom: 1px solid; }
.border-bottom-2 { border-bottom: 2px solid; }
.border-bottom-3 { border-bottom: 3px solid; }
.border-bottom-4 { border-bottom: 4px solid; }
.border-bottom-5 { border-bottom: 5px solid; }

/*---- Border Left----*/
.border-left-1 { border-left: 1px solid; }
.border-left-2 { border-left: 2px solid; }
.border-left-3 { border-left: 3px solid; }
.border-left-4 { border-left: 4px solid; }
.border-left-5 { border-left: 5px solid; }

/* ---- Border Colors ---- */
.border-white { border-color: #fff; }
.border-black { border-color: #000; }
.border-primary-1 { border-color: #87A590; }
.border-primary-2 { border-color: #6F937A; }
.border-primary-3 { border-color: #578164; }
.border-primary-4 { border-color: #3F6F4E; }
.border-primary-6 { border-color: #235332; }
.border-primary-7 { border-color: #1E482C; }
.border-forest, .border-green { border-color: #634e15; }
.border-forest-2 { border-color: #E6F3EC; }
.border-forest-3 { border-color: #99CEB1; }
.border-forest-4 { border-color: #4DA977; }
.border-forest-6 { border-color: #005C2B; }
.border-forest-7 { border-color: #003518;}
.border-clover { border-color: #4ba23f; }
.border-clover-2 { border-color: #EDF6EC; }
.border-clover-3 { border-color: #B7DAB2; }
.border-clover-4 { border-color: #81BE79; }
.border-clover-6 { border-color: #35712C; }
.border-clover-7 { border-color: #1E4119; }
.border-fern { border-color: #78be20; }
.border-fern-2 { border-color: #F2F9E9; }
.border-fern-3 { border-color: #C9E5A6; }
.border-fern-4 { border-color: #A1D263; }
.border-fern-6 { border-color: #548516; }
.border-fern-7 { border-color: #304C0D; }
.border-lime { border-color: #c5e86c; }
.border-lime-2 { border-color: #F9FDF0; }
.border-lime-3 { border-color: #E8F6C4; }
.border-lime-4 { border-color: #D6EF98; }
.border-lime-6 { border-color: #8AA24C; }
.border-lime-7 { border-color: #4F5D2B; }
.border-aqua { border-color: #86c8bc; }
.border-aqua-2 { border-color: #F3FAF8; }
.border-aqua-3 { border-color: #CFE9E4; }
.border-aqua-4 { border-color: #AAD9D0; }
.border-aqua-6 { border-color: #5E8C84; }
.border-aqua-7 { border-color: #36504B; }
.border-teal { border-color: #00bfb3; }
.border-teal-2 { border-color: #E6F9F7; }
.border-teal-3 { border-color: #99E5E1; }
.border-teal-4 { border-color: #4DD2CA; }
.border-teal-6 { border-color: #00867D; }
.border-teal-7 { border-color: #004C48; }
.border-blue { border-color: #0095c8; }
.border-blue-2 { border-color: #E6F4FA; }
.border-blue-3 { border-color: #99D5E9; }
.border-blue-4 { border-color: #4DB5D9; }
.border-blue-6 { border-color: #00688C; }
.border-blue-7 { border-color: #003C50; }
.border-blue-light { border-color: #003C50; }
.border-blue-light-2 { border-color: #F8FBFD; }
.border-blue-light-3 { border-color: #E5EFF5; }
.border-blue-light-4 { border-color: #D1E2EE; }
.border-blue-light-6 { border-color: #8496A1; }
.border-blue-light-7 { border-color: #4C565C; }
.border-purple { border-color: #595478; }
.border-purple-2 { border-color: #EEEEF2; }
.border-purple-3 { border-color:#BDBBC9; }
.border-purple-4 { border-color: #8B87A1; }
.border-purple-6 { border-color: #3E3B54; }
.border-purple-7 { border-color: #242230; }
.border-beige { border-color: #ddd0ce; }
.border-beige-2 { border-color: #FCFAFA; }
.border-beige-3 { border-color:#F1ECEB; }
.border-beige-4 { border-color: #E7DEDD; }
.border-beige-6 { border-color: #9B9290; }
.border-beige-7 { border-color: #242230; }
.border-brick-light { border-color: #585352; }
.border-brick-light-2 { border-color: #F8F3F2; }
.border-brick-light-3 { border-color: #E4CDC9; }
.border-brick-light-4 { border-color: #D0A8A1; }
.border-brick-light-6 { border-color: #845B55; }
.border-brick-light-7 { border-color: #4B3430; }
.border-brick { border-color: #823b34; }
.border-brick-2 { border-color: #F3EBEB; }
.border-brick-3 { border-color: #CDB1AE; }
.border-brick-4 { border-color: #A87671; }
.border-brick-6 { border-color: #5B2924; }
.border-brick-7 { border-color: #341815; }
.border-red { border-color: #e15230; }
.border-red-2 { border-color: #FCEEEA; }
.border-red-3 { border-color: #F3BAAC; }
.border-red-4 { border-color: #EA866E; }
.border-red-6 { border-color: #9E3922; }
.border-red-7 { border-color: #5A2113; }
.border-orange { border-color: #d45d00; }
.border-orange-2 { border-color: #FBEFE6; }
.border-orange-3 { border-color: #EEBE99; }
.border-orange-4 { border-color: #E18E4D; }
.border-orange-6 { border-color: #944100; }
.border-orange-7 { border-color: #552500; }
.border-gold { border-color: #ffb500; }
.border-gold-2 { border-color: #FFF8E6; }
.border-gold-3 { border-color: #FFE199; }
.border-gold-4 { border-color: #FFCB4D; }
.border-gold-6 { border-color: #B37F00; }
.border-gold-7 { border-color: #664800; }
.border-yellow { border-color: #fbd865; }
.border-yellow-2 { border-color: #FFFBF0; }
.border-yellow-3 { border-color: #FDEFC1; }
.border-yellow-4 { border-color: #FCE493; }
.border-yellow-6 { border-color: #B09747; }
.border-yellow-7 { border-color: #645628; }
.border-brown { border-color: #696158; }
.border-brown-2 { border-color: #F0EFEE; }
.border-brown-3 { border-color: #C3C0BC; }
.border-brown-4 { border-color: #96908A; }
.border-brown-6 { border-color: #4A443E; }
.border-brown-7 { border-color: #2A2723; }
.border-grey-dark, .border-gray-dark { border-color: #a7a8aa; }
.border-grey-dark-2, .border-gray-dark-2 {border-color: #F6F6F7;}
.border-grey-dark-3, .border-gray-dark-3 {border-color: #DCDCDD;}
.border-grey-dark-4, .border-gray-dark-4 {border-color: #C1C2C4;}
.border-grey-dark-6, .border-gray-dark-6 {border-color: #757677;}
.border-grey-dark-7, .border-gray-dark-7 {border-color: #434344;}


/*=========== WIDTHS & HEIGHTS ==========*/

.height-100 { height: 100%; }
.height-auto { height: auto; }
.width-100{	width: 100%; }
.container { max-width: 100%; }


/*=========== PADDING ==========*/

/*---- Padding all around----*/
.padding-0 { padding: 0px; }
.padding-5 { padding: 5px; }
.padding-10 { padding: 10px; }
.padding-15 { padding: 15px; }
.padding-20 { padding: 20px; }
.padding-25 { padding: 25px; }
.padding-30 { padding: 30px; }
.padding-35 { padding: 35px; }
.padding-40 { padding: 40px; }
.padding-45 { padding: 45px; }
.padding-50 { padding: 50px; }
.padding-55 { padding: 55px; }
.padding-60 { padding: 60px; }
.padding-65 { padding: 65px; }
.padding-70 { padding: 70px; }
.padding-75 { padding: 75px; }
.padding-80 { padding: 80px; }

/*---- Padding Top ----*/
.padding-top-0 { padding-top: 0px; }
.padding-top-5 { padding-top: 5px; }
.padding-top-10 { padding-top: 10px; }
.padding-top-15 { padding-top: 15px; }
.padding-top-20 { padding-top: 20px;}
.padding-top-25 { padding-top: 25px; }
.padding-top-30 { padding-top: 30px; }
.padding-top-35 { padding-top: 35px; }
.padding-top-40 { padding-top: 40px; }
.padding-top-45 { padding-top: 45px; }
.padding-top-50 { padding-top: 50px; }
.padding-top-55 { padding-top: 55px; }
.padding-top-60 { padding-top: 60px; }
.padding-top-65 { padding-top: 65px; }
.padding-top-70 { padding-top: 70px; }
.padding-top-75 { padding-top: 75px; }
.padding-top-80 { padding-top: 80px; }

/*---- Padding Right ----*/
.padding-right-0 { padding-right: 0px; }
.padding-right-5 { padding-right: 5px; }
.padding-right-10 {	padding-right: 10px; }
.padding-right-15 {	padding-right: 15px; }
.padding-right-20 {	padding-right: 20px; }
.padding-right-25 {	padding-right: 25px; }
.padding-right-30 { padding-right: 30px; }
.padding-right-35 {	padding-right: 35px; }
.padding-right-40 {	padding-right: 40px; }
.padding-right-45 { padding-right: 45px; }
.padding-right-50 { padding-right: 50px; }
.padding-right-55 { padding-right: 55px; }
.padding-right-60 { padding-right: 60px; }
.padding-right-65 { padding-right: 65px; }
.padding-right-70 { padding-right: 70px; }
.padding-right-75 { padding-right: 75px; }
.padding-right-80 { padding-right: 80px; }

/*---- Padding Bottom ----*/
.padding-bottom-0 { padding-bottom: 0px; }
.padding-bottom-5 {	padding-bottom: 5px; }
.padding-bottom-10 { padding-bottom: 10px; }
.padding-bottom-15 { padding-bottom: 15px; }
.padding-bottom-20 { padding-bottom: 20px; }
.padding-bottom-25 { padding-bottom: 25px; }
.padding-bottom-30 { padding-bottom: 30px; }
.padding-bottom-35 { padding-bottom: 35px; }
.padding-bottom-40 { padding-bottom: 40px; }
.padding-bottom-45 { padding-bottom: 45px; }
.padding-bottom-50 { padding-bottom: 50px; }
.padding-bottom-55 { padding-bottom: 55px; }
.padding-bottom-60 { padding-bottom: 60px; }
.padding-bottom-65 { padding-bottom: 65px; }
.padding-bottom-70 { padding-bottom: 70px; }
.padding-bottom-75 { padding-bottom: 75px; }
.padding-bottom-80 { padding-bottom: 80px; }

/*---- Padding Left ----*/
.padding-left-0 { padding-left: 0px; }
.padding-left-5 { padding-left: 5px; }
.padding-left-10 { padding-left: 10px; }
.padding-left-15 { padding-left: 15px; }
.padding-left-20 { padding-left: 20px; }
.padding-left-25 { padding-left: 25px; }
.padding-left-30 { padding-left: 30px; }
.padding-left-35 { padding-left: 35px; }
.padding-left-40 { padding-left: 40px; }
.padding-left-45 { padding-left: 45px; }
.padding-left-50 { padding-left: 50px; }
.padding-left-55 { padding-left: 55px; }
.padding-left-60 { padding-left: 60px; }
.padding-left-65 { padding-left: 65px; }
.padding-left-70 { padding-left: 70px; }
.padding-left-75 { padding-left: 75px; }
.padding-left-80 { padding-left: 80px; }


/*=========== MARGINS ==========*/

.margin-auto{ margin: auto; }

/*---- Margin all around----*/
.margin-0 {	margin: 0px; }
.margin-5 {	margin: 5px; }
.margin-10 { margin: 10px; }
.margin-15 { margin: 15px; }
.margin-20 { margin: 20px; }
.margin-25 { margin: 25px; }
.margin-30 { margin: 30px; }
.margin-35 { margin: 35px; }
.margin-40 { margin: 40px; }
.margin-45 { margin: 45px; }
.margin-50 { margin: 50px; }
.margin-55 { margin: 55px; }
.margin-60 { margin: 60px; }
.margin-65 { margin: 65px; }
.margin-70 { margin: 70px; }
.margin-75 { margin: 75px; }
.margin-80 { margin: 80px; }

/* ---- Negative Margins ---- */
.margin-neg-5 { margin: -5px; }
.margin-neg-10 { margin: -10px; }
.margin-neg-15 { margin: -15px; }
.margin-neg-20 { margin: -20px; }
.margin-neg-25 { margin: -25px; }
.margin-neg-30 { margin: -30px; }
.margin-neg-35 { margin: -35px; }
.margin-neg-40 { margin: -40px; }
.margin-neg-45 { margin: -45px; }
.margin-neg-50 { margin: -50px; }
.margin-neg-55 { margin: -55px; }
.margin-neg-60 { margin: -60px; }
.margin-neg-65 { margin: -65px; }
.margin-neg-70 { margin: -70px; }
.margin-neg-75 { margin: -75px; }
.margin-neg-80 { margin: -80px; }

/*---- Margin Top----*/
.margin-top-0 {	margin-top: 0px; }
.margin-top-5 {	margin-top: 5px; }
.margin-top-10 { margin-top: 10px; }
.margin-top-15 { margin-top: 15px; }
.margin-top-20 { margin-top: 20px; }
.margin-top-25 { margin-top: 25px; }
.margin-top-30 { margin-top: 30px; }
.margin-top-35 { margin-top: 35px; }
.margin-top-40 { margin-top: 40px; }
.margin-top-45 { margin-top: 45px; }
.margin-top-50 { margin-top: 50px; }
.margin-top-55 { margin-top: 55px; }
.margin-top-60 { margin-top: 60px; }
.margin-top-65 { margin-top: 65px; }
.margin-top-70 { margin-top: 70px; }
.margin-top-75 { margin-top: 75px; }
.margin-top-80 { margin-top: 80px; }

/* ---- Negative Top Margins ---- */
.margin-top-neg-5 {	margin-top: -5px; }
.margin-top-neg-10 { margin-top: -10px; }
.margin-top-neg-15 { margin-top: -15px; }
.margin-top-neg-20 { margin-top: -20px; }
.margin-top-neg-25 { margin-top: -25px; }
.margin-top-neg-30 { margin-top: -30px; }
.margin-top-neg-35 { margin-top: -35px; }
.margin-top-neg-40 { margin-top: -40px; }
.margin-top-neg-45 { margin-top: -45px; }
.margin-top-neg-50 { margin-top: -50px; }
.margin-top-neg-55 { margin-top: -55px; }
.margin-top-neg-60 { margin-top: -60px; }
.margin-top-neg-65 { margin-top: -65px; }
.margin-top-neg-70 { margin-top: -70px; }
.margin-top-neg-75 { margin-top: -75px; }
.margin-top-neg-80 { margin-top: -80px; }

/*---- Margin Right----*/
.margin-right-0 { margin-right: 0px; }
.margin-right-5 { margin-right: 5px; }
.margin-right-10 { margin-right: 10px; }
.margin-right-15 { margin-right: 15px; }
.margin-right-20 { margin-right: 20px; }
.margin-right-25 { margin-right: 25px; }
.margin-right-30 { margin-right: 30px; }
.margin-right-35 { margin-right: 35px; }
.margin-right-40 { margin-right: 40px; }
.margin-right-40 { margin-right: 40px; }
.margin-right-45 { margin-right: 45px; }
.margin-right-50 { margin-right: 50px; }
.margin-right-55 { margin-right: 55px; }
.margin-right-60 { margin-right: 60px; }
.margin-right-65 { margin-right: 65px; }
.margin-right-70 { margin-right: 70px; }
.margin-right-75 { margin-right: 75px; }
.margin-right-80 { margin-right: 80px; }

/* ---- Negative Bottom Margins ---- */
.margin-right-neg-5 { margin-right: -5px; }
.margin-right-neg-10 { margin-right: -10px; }
.margin-right-neg-15 { margin-right: -15px; }
.margin-right-neg-20 { margin-right: -20px; }
.margin-right-neg-25 { margin-right: -25px; }
.margin-right-neg-30 { margin-right: -30px; }
.margin-right-neg-35 { margin-right: -35px; }
.margin-right-neg-40 { margin-right: -40px; }
.margin-right-neg-45 { margin-right: -45px; }
.margin-right-neg-50 { margin-right: -50px; }
.margin-right-neg-55 { margin-right: -55px; }
.margin-right-neg-60 { margin-right: -60px; }
.margin-right-neg-65 { margin-right: -65px; }
.margin-right-neg-70 { margin-right: -70px; }
.margin-right-neg-75 { margin-right: -75px; }
.margin-right-neg-80 { margin-right: -80px; }

/* ---- Margin Bottom---- */
.margin-bottom-0 { margin-bottom: 0px; }
.margin-bottom-5 { margin-bottom: 5px; }
.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-15 {	margin-bottom: 15px; }
.margin-bottom-20 {	margin-bottom: 20px; }
.margin-bottom-25 {	margin-bottom: 25px; }
.margin-bottom-30 {	margin-bottom: 30px; }
.margin-bottom-35 {	margin-bottom: 35px; }
.margin-bottom-40 {	margin-bottom: 40px; }
.margin-bottom-45 { margin-bottom: 45px; }
.margin-bottom-50 { margin-bottom: 50px; }
.margin-bottom-55 { margin-bottom: 55px; }
.margin-bottom-60 { margin-bottom: 60px; }
.margin-bottom-65 { margin-bottom: 65px; }
.margin-bottom-70 { margin-bottom: 70px; }
.margin-bottom-75 { margin-bottom: 75px; }
.margin-bottom-80 { margin-bottom: 80px; }

/* ---- Negative Bottom Margins ---- */
.margin-bottom-neg-5 { margin-bottom: -5px; }
.margin-bottom-neg-10 {	margin-bottom: -10px; }
.margin-bottom-neg-15 {	margin-bottom: -15px; }
.margin-bottom-neg-20 {	margin-bottom: -20px; }
.margin-bottom-neg-25 {	margin-bottom: -25px; }
.margin-bottom-neg-30 {	margin-bottom: -30px; }
.margin-bottom-neg-35 {	margin-bottom: -35px; }
.margin-bottom-neg-40 {	margin-bottom: -40px;}
.margin-bottom-neg-45 { margin-bottom: -45px; }
.margin-bottom-neg-50 { margin-bottom: -50px; }
.margin-bottom-neg-55 { margin-bottom: -55px; }
.margin-bottom-neg-60 { margin-bottom: -60px; }
.margin-bottom-neg-65 { margin-bottom: -65px; }
.margin-bottom-neg-70 { margin-bottom: -70px; }
.margin-bottom-neg-75 { margin-bottom: -75px; }
.margin-bottom-neg-80 { margin-bottom: -80px; }

/* ---- Margin Left ---- */
.margin-left-0 { margin-left: 0px; }
.margin-left-5 { margin-left: 5px; }
.margin-left-10 { margin-left: 10px; }
.margin-left-15 { margin-left: 15px; }
.margin-left-20 { margin-left: 20px; }
.margin-left-25 { margin-left: 25px; }
.margin-left-30 { margin-left: 30px; }
.margin-left-35 { margin-left: 35px; }
.margin-left-40 { margin-left: 40px; }
.margin-left-45 { margin-left: 45px; }
.margin-left-50 { margin-left: 50px; }
.margin-left-55 { margin-left: 55px; }
.margin-left-60 { margin-left: 60px; }
.margin-left-65 { margin-left: 65px; }
.margin-left-70 { margin-left: 70px; }
.margin-left-75 { margin-left: 75px; }
.margin-left-80 { margin-left: 80px; }

/* ---- Negative Left Margins ---- */
.margin-left-neg-5 { margin-left: -5px; }
.margin-left-neg-10 { margin-left: -10px; }
.margin-left-neg-15 { margin-left: -15px; }
.margin-left-neg-20 { margin-left: -20px; }
.margin-left-neg-25 { margin-left: -25px; }
.margin-left-neg-30 { margin-left: -30px; }
.margin-left-neg-35 { margin-left: -35px; }
.margin-left-neg-40 { margin-left: -40px; }
.margin-left-neg-45 { margin-left: -45px; }
.margin-left-neg-50 { margin-left: -50px; }
.margin-left-neg-55 { margin-left: -55px; }
.margin-left-neg-60 { margin-left: -60px; }
.margin-left-neg-65 { margin-left: -65px; }
.margin-left-neg-70 { margin-left: -70px; }
.margin-left-neg-75 { margin-left: -75px; }
.margin-left-neg-80 { margin-left: -80px; }


/*=========== ICONS ==========*/

.chevron::after {
	content: '\f101' !important;
	font-family: "FontAwesome";
	margin-left: 4px;
}
.external::after {
	content: '\f14c' !important;
	font-family: "FontAwesome";
	margin-left: 4px;
}
.pdf::after {
	content: '\f1c1' !important;
	font-family: "FontAwesome";
	margin-left: 4px;
}
.ms-word::after {
	content: '\f1c2' !important;
	font-family: "FontAwesome";
	margin-left: 4px;
}
.ms-excel::after {
	content: '\f1c3' !important;
	font-family: "FontAwesome";
	margin-left: 4px;
}
.ms-ppt::after {
	content: '\f1c4' !important;
	font-family: "FontAwesome";
	margin-left: 4px;
}
.phone::before {
	content: '\f095' !important;
	font-family: "FontAwesome";
	margin-right: 4px;
}
.mail::before {
	content: '\f1d8' !important;
	font-family: "FontAwesome";
	margin-right: 4px;
}
.email::before {
	content: '\f0e0' !important;
	font-family: "FontAwesome";
	margin-right: 4px;
}
.office::before {
	content: '\f0b1' !important;
	font-family: "FontAwesome";
	margin-right: 4px;
}

/*=========== Cursor Styles ==========*/

.pointer {
	cursor: pointer;
}


/*=========== DISPLAY, POSITIONING, ALIGNMENT, FLEX ==========*/

.display-block { display: block; }
.display-inline-block { display: inline-block; }
.display-flex { display: -webkit-flex; display: flex; /*flex: 0 1 100%; -webkit-flex: 0 1 100%;*/}
.flex-column { -webkit-flex-direction: column; flex-direction: column; }
.flex-grow-2 { -webkit-flex-grow: 2; flex-grow: 2;}
.flex-wrap { -webkit-flex-wrap: wrap; flex-wrap: wrap; }
.position-relative{	position: relative; }
.position-absolute{	position: absolute; }
.justify-content-center {justify-content: center; -webkit-justify-content: center;}
.align-items-center { align-items: center; -webkit-align-items: center;}



/*End mobile and up styles*/
/*===============TABLET AND UP===============*/
@media only screen and (min-width: 760px) {

	.equal-height {
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: stretch;
		align-items: stretch;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}

}/*end media query*/
/*End tablet and up styles*/
/*===============DESKTOP ONLY===============*/
@media only screen and (min-width: 1100px) {


}/*end media query*/
/*end desktop only styles*/
/*END OF DOCUMENT*/
