/* ====================== Mobile and Up ========================== */
/* Video Header */
.video-section {
    background-color: rgba(50, 50, 50, 0.3);
}
.video-section .container-fluid {
    max-width: 100%;
    min-height: 460px;
    padding: 0;
    padding-bottom: 56.25%;
}
.video-section .fullbleed-overlay {
    position: absolute;
    height: 100%;
    align-items: center;
}
.video-section .flex-center {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.video-section header {
    align-self: center;
    text-align: center;
    width: 100%;
}
.video-section h1 {
    font-size: 48px;
    font-weight: bold;
}
.video-section p {
    font-size: 30px;
}
.video-poster {
    z-index: 0;
    width: 100%;
    opacity: 0.5;
}
.video-v-border {
    position: absolute;
    width: 100%;
    bottom: -2px;
    z-index: -1;
}
.video-v-border img {
    width: 100%;
}
.text-shadow {
    text-shadow: 2px 2px 2px #000000;
}
/* End Video Header */
/* admissions Section */
.admin-section {
    background-image: url("../img/admin-background.jpg");
    background-repeat: no-repeat;
    background-position: top center;
}
.admin-section.fullbleed {
    background-size: 100%;
}
.admin-section .equal-height {
    display: flex;
    flex-wrap: wrap;
}
.admin-section .region {
    text-align: center;
}
.admin-link {
    display: block;
    height: 100%;
    padding-bottom: 45px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #634e15;
}
.admin-link img {
    transition: transform 0.3s;
    height: 70px;
}
.admin-link span {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 24px;
}
.admin-link:hover {
    text-decoration: none;
    color: #b1a276;
}
.admin-link:hover img {
    transform: scale(1.1);
}
/* End Admin Section */
/* choose section */
.choose {
    position: fixed;
    top: 80px;
    right: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    overflow: hidden;
    z-index: 10;
    transition: all 0.3s;
    visibility: hidden;
}
.headroom--unpinned .choose {
    top: 0;
}
.choose-title {
    position: relative;
    background-color: #b1a276;
    padding: 20px 20px 10px;
    margin: 0;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    z-index: 1;
    cursor: pointer;
    visibility: visible;
}
.choose-title:after {
    display: block;
    content: '\f077';
    font: normal normal normal 14px/1 FontAwesome;
    text-align: center;
}
.choose-title:hover {
    background-color: #634e15;
}
.choose-title.inactive:after {
    content: '\f078';
}
.choose-title.active:after {
    content: '\f077';
}
.headroom--not-top .choose-title:after {
    content: '\f078';
}
.choose-list {
    list-style: none;
    padding: 0;
    margin: 0;
    transition: transform 0.4s;
    visibility: visible;
}
.choose-list li a {
    display: block;
    color: #fff;
    background-color: #363636;
    padding: 20px 30px;
    margin-top: 5px;
    line-height: 1em;
    text-transform: uppercase;
}
.choose-list li a:hover {
    background-color: #2c2c2c;
    text-decoration: none;
}
.choose-list.inactive {
    transform: translateY(-110%);
}
.choose-list.active {
    transform: translateY(0);
}
/* end of choose section */
/* News Card */
.newsCard {
    position: relative;
    background-color: #fff;
    color: #fff;
    overflow: hidden;
}
.newsCard img {
    width: 100%;
}
.newsCard:hover .newsCaption {
    background-color: rgba(0, 0, 0, 0.6);
    transform: translateY(0px);
    transition: all 0.4s;
}
.newsCaption {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
}
.newsCaption a {
    color: #fff;
    text-decoration: underline;
}
.newsCaption a:hover {
    opacity: 1;
    color: #efefef;
}
.full-grid .container-fluid {
    max-width: 100%;
}
.full-grid img {
    transform: scale(1.01);
}
/* end news section */
/* Degree Section */
.degree-bg-image {
    background: #b1a276;
    /* For browsers that do not support gradients */
}
.degree-bg-image:nth-child(odd) {
    background: #634e15;
}
.degree-bg-image:hover {
    background: #c4c4c4;
}
#degrees-section {
    overflow: hidden;
}
a.degree-button {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
a.degree-button span {
    display: block;
}
a.degree-button:hover {
    color: #b1a276;
}
/* End Degree Section */
/* Degree Match */
.explore-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.explore-buttons.margin-top-10 {
    flex-direction: column;
    padding-top: 10px;
}
.arrow-graphic {
    vertical-align: unset;
}
.degree-match-btn {
    position: relative;
    padding: 15px 50px 15px 25px;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: #b1a276;
    display: block;
    background: url('../img/graychip.png') #c4c4c3 no-repeat right center;
}
.bg-image.academics {
    background-image: url(../img/background_academics_1000px.jpg);
    background-position: center top;
    position: relative;
}
.slant-divider {
    display: none;
    position: absolute;
    bottom: -2px;
    left: 0;
    padding: 0;
    width: 100%;
    background-image: url(../img/bg-architectural-top.png);
    background-size: 100% auto;
    background-position: bottom center;
}
.slant-divider img {
    width: 100%;
}
.skew-green {
    transform: matrix3d(2.55, 0.15, 0, -0.007, 0, 0.15, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 0px 0px 0px;
    width: 100%;
    height: 100px;
}
.skew-grey {
    transform: matrix3d(3.5, 0.268333, 0, -0.007667, 0, 0.07, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 0px -94px 0px;
    width: 100%;
    height: 72px;
}
.mobile-hide {
    display: none;
}
/* end degrees section */
/* Facts and Stats */
.statistics.bg-image {
    background-image: url(../img/bg-architectural.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
}
.institute {
    font-weight: 600;
    line-height: 1.25em;
    font-weight: 900;
    text-align: center;
    border-bottom: 1px solid #b1a276;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.institute-title {
    line-height: 1.2em;
    border-bottom: 7px solid #634e15;
    margin-bottom: 10px;
    border-image: linear-gradient(to right, #634e15 0%, #b1a276 100%);
    border-image-slice: 1;
}
.student-per {
    text-align: center;
    border-bottom: 1px solid #b1a276;
    padding: 20px;
    flex-wrap: wrap;
}
.student-per-stat {
    line-height: 1em;
    font-size: 152px;
    min-width: 165px;
}
.student-per-diag {
    flex-grow: 2;
}
.dancing_cubes {
    width: 100px;
    opacity: 0;
}
.student-award {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    border-bottom: 1px solid #b1a276;
    padding: 20px;
}
.student-award-center {
    text-align: center;
    padding: 0 20px;
    margin-top: 20px;
}
.percent-line {
    margin-top: -15px;
    font-weight: 600;
    font-size: 1.375em;
}
.open-stat {
    flex-grow: 1;
    padding: 40px 20px 40px 40px;
    text-align: center;
}
.open-equal-line {
    font-size: 150px;
    font-weight: 700;
    line-height: 1em;
    margin-top: -0.2em;
    padding: 0 10px;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 0%;
    }
}
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 0%;
    }
}
.dancing_cubes .d-0,
.dancing_cubes .d-1,
.dancing_cubes .d-2 {
    animation-delay: 0s;
    animation-duration: 2s;
}
.dancing_cubes .d-1 {
    animation-duration: 4s;
}
.dancing_cubes .d-2 {
    animation-duration: 6s;
}
.dancing_cubes.animate {
    opacity: 1;
}
.dancing_cubes.animate rect {
    animation-name: fade-in;
}
/* Percent Wheel */
.percent-wheel {
    margin: 0 auto;
    position: relative;
    text-align: center;
    height: 150px;
    width: 150px;
}
.percent-wheel svg .circle-foreground {
    -webkit-animation: offset 3s ease-in-out forwards;
    animation: offset 3s ease-in-out forwards;
    -webkit-animation-delay: 0;
    animation-delay: 0;
}
.percent-wheel.animate figcaption:after {
    -webkit-animation: percent-wheel-label 3s steps(52) forwards;
    animation: percent-wheel-label 3s steps(52) forwards;
    -webkit-animation-delay: 0;
    animation-delay: 0;
}
.percent-wheel svg {
    width: 150px;
    height: 150px;
}
.percent-wheel svg .circle-background,
.percent-wheel svg .circle-foreground {
    fill: none;
    stroke: #4fb04f;
    stroke-width: 25px;
}
.percent-wheel svg .circle-foreground {
    stroke: #1E5631;
    stroke-dasharray: 204.1px 52.5px;
    stroke-dashoffset: 204.1px;
    stroke-linecap: round;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.percent-wheel figcaption {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    color: #1E5631;
    font-weight: bold;
    font-size: 14px;
    flex-direction: column;
    justify-content: center;
    line-height: 1em;
}
.percent-wheel figcaption span {
    font-size: 32px;
    color: #1E5631;
    display: block;
    line-height: 1em;
}
@-webkit-keyframes offset {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes offset {
    100% {
        stroke-dashoffset: 0;
    }
}
/*end percent wheel*/
/* End of the Facts */
/* Student Life Section */
.shadow {
    position: relative;
}
.shadow:before,
.shadow:after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 20px;
    z-index: 2;
}
.shadow:before {
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
}
.shadow:after {
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
}
.sl-col {
    display: flex;
    flex-direction: column;
    padding: 0 5px 5px;
}
.sl-col:last-of-type {
    padding: 0 5px;
}
a.sl-button {
    position: relative;
    z-index: 1;
    padding: 40px 20px;
    margin-bottom: 5px;
    flex-grow: 1;
    color: #fff;
}
a.sl-button img {
    margin: 10px;
}
a.sl-button:last-of-type {
    margin-bottom: 0;
}
a.sl-button:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: inherit;
    content: '';
    transition: all 0.3s;
}
a.sl-button:hover {
    text-decoration: none;
}
a.sl-button:hover:before {
    background-color: rgba(177, 162, 118, 0.5);
}
a.sl-button:focus {
    outline: 5px dashed #b1a276;
}
.sl-leader {
    background-image: url("../img/leadership_v2.jpg");
}
.sl-internships {
    background-image: url("../img/internships_v2.jpg");
}
.sl-intramurals {
    background-image: url("../img/intramurals_v2.jpg");
}
.sl-campusrec {
    background-image: url("../img/campusrecreation_v2.jpg");
}
.sl-clubs {
    background-image: url("../img/clubs_v2.jpg");
}
.sl-studyabroad {
    background-image: url("../img/studyabroad_v2.jpg");
}
.sl-wellness {
    background-image: url("../img/wellness_v2.jpg");
}
/* End Student section */
/* Ticket Section */
.ticket-bg-image {
    background-image: url("../img/ticket_background.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    min-height: 100%;
}
.ticket {
    display: block;
    border-color: #214f30;
    border-style: solid;
    border-width: 50px 15px;
    border-image: url('../img/ticket-green-mobile.png') 50 15 fill stretch;
    max-width: 360px;
    margin: auto;
}
a.ticket {
    text-decoration: none;
}
.no-borderimage .ticket {
    /* i.e. fallback for border-image */
    background-color: #b1a276;
    border-width: 20px 0 20px 0;
    box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.3);
}
.ticket-image {
    display: none;
    width: 100%;
}
.ticket-button {
    display: block;
    border-radius: 10px;
    width: 85%;
    padding: 15px 20px;
    margin-bottom: 10px;
    border: 2px solid #fff;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.4s;
}
.ticket-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.orange-ticket {
    border-color: #b44f00;
    border-image-source: url("../img/ticket-orange-mobile.png");
}
.no-borderimage .orange-ticket {
    background-color: #d45d00;
}
.purple-ticket {
    border-color: #4f486f;
    border-image-source: url("../img/ticket-purple-mobile.png");
}
.no-borderimage .purple-ticket {
    background-color: #5d5582;
}
/* End Ticket Section */
/* Feedback Link */
.feedback-link:hover {
    color: white;
    text-decoration: underline;
}
.feedback-link:active,
.feedback-link:focus {
    color: white;
}
/* end ticket section */

#news-section .news-item{
    border-top: white thick solid;
    /*background-color: rgba(138, 109, 59, 0.5);*/
    background-color: #1f1a11;
    background-blend-mode: multiply;
}
#news-section .news-item a{
    color: white;
}
#news-section .news-item img{
    max-height: 100px;
}
/*#news-section .news-item:first-child{
    background-color: #2d4c2e;
}
#news-section .news-item:nth-child(2){
    background-color: #2196F3;
}
#news-section .news-item:nth-child(3){
    background-color: #F44336;
}*/
#news-section .news-item span, #news-section .view-all{
    background-color: #4fb04f;
    color: white;
}
#news-section .view-all a{
    padding: 0.5em;
    display: block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    /* admin section */
    .admin-link span {
        font-size: 28px;
    }
    /* end admin section */
    /* news section */
    .newsCaption {
        transform: translateY(calc(100% - 3.4em));
        transition: all 0.4s;
    }
    /* end news section */
    /* degrees section */
    .degree-bg-image,
    .degree-bg-image:nth-child(odd) {
        background: #634e15;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b1a276, #634e15);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #b1a276, #634e15); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    .degree-bg-image:nth-child(n+3) {
        background: #634e15;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b1a276, #634e15);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #b1a276, #634e15); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    .degree-bg-image:nth-child(n+3):after {
        border-left-color: #b1a276;
    }
    .degree-bg-image:after {
        content: "";
        border-top: 52px solid transparent;
        border-bottom: 52px solid transparent;
        border-left: 25px solid #634e15;
        top: 0px;
        position: absolute;
        left: 100%;
        z-index: 1;
        height: 100%;
    }
    .degree-bg-image:hover,
    .degree-bg-image:nth-child(odd):hover,
    .degree-bg-image:nth-child(n+3):hover {
        background: #c4c4c4;
    }
    .degree-bg-image:hover:after,
    .degree-bg-image:hover:nth-child(n+3):after {
        border-left-color: #c4c4c4;
    }
    /* end degrees section */
    /* facts section */
    .stats-center-content {
        display: flex;
        justify-content: space-around;
    }
    .institute {
        text-align: left;
        border-right: 1px solid #b1a276;
    }
    .student-per > svg {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .student-award {
        border-bottom: none;
        border-right: 1px solid #b1a276;
    }
    /* end facts section */
    /* ticket section */
    .ticket-image {
        display: block;
    }
    .ticket {
        border-image-source: url("../img/ticket-green.png");
    }
    .purple-ticket {
        border-image-source: url("../img/ticket-purple.png");
    }
    .orange-ticket {
        border-image-source: url("../img/ticket-orange.png");
    }
    /* end ticket section */
}
@media only screen and (min-width: 992px) {
    /* video section */
    .video-section .flex-center {
        padding: 20px 300px;
    }
    .video-arrow {
        margin-top: 60px;
    }
    /* end video section */
    /* choose section */
    .choose {
        top: 110px;
        right: 0;
        max-width: 280px;
        text-align: left;
    }
    .choose-list li a {
        font-size: 17px;
    }
    .headroom--bottom .choose {
        top: 110px;
    }
    /* end choose seciton */
    /* admin section */
    .admin-link span {
        font-size: 32px;
    }
    /* end admin section */
    /* degrees section */
    .degree-bg-image:nth-child(n+3) {
        background: #b1a276;
        background: linear-gradient(to right, #b1a276, #634e15);
    }
    .degree-bg-image:nth-child(n+3):after {
        border-left-color: #634e15;
    }
    .bg-image.academics {
        background-color: rgba(0,0,0,0.5);
        background-image: url(../img/background_academics_2000px.jpg);
        padding: 5% 0 15%;
        background-blend-mode: multiply;
    }
    .mobile-hide {
        display: inherit;
    }
    .slant-divider {
        display: block;
    }
    .explore-buttons.margin-top-10 {
        flex-direction: initial;
    }
    .newsCaption-link {
        line-height: 3.75em;
    }
    /* end degrees section */
    /* facts section */
    .student-per {
        text-align: left;
    }
    .student-per-stat {
        width: 160px;
    }
    .student-award {
        flex-direction: row;
    }
    .student-award-center {
        text-align: left;
        margin: 0;
        display: flex;
        align-items: center;
    }
    .open-stat {
        display: flex;
        justify-content: space-around;
    }
    .open-stat > div {
        display: flex;
        align-items: center;
    }
    .stats-border-bottom {
        border-bottom: 1px solid #b1a276;
        display: flex;
    }
    /* end facts section */
    /* student section */
    .leader-bg {
        min-height: 288px;
    }
    .leader-text {
        font-size: 1.25em;
    }
    .sl-col {
        padding: 0 0 0 5px;
    }
    .sl-col:last-child {
        padding: 0 5px 0 5px;
    }
    .ss-rightSpan {
        padding-left: 170px;
    }
    /* end student section */
    /* ticket section */
    .ticket-bg-image {
        padding-bottom: 150px;
    }
    /* end ticket section */
}
.dropdown:hover .dropdown-menu {display: block; font-size: 17px}
