/* wrapper only styles */
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
*:focus,
a:focus {
  outline: 1px dashed currentColor;
}
body {
  min-width: 320px;
  min-height: 100vh;
  padding-top: 80px;
  /* for fixed header */
}
#mquery {
  width: 0;
}
.skiptocontent {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -80px;
  background-color: #634e15;
  color: #fff;
  padding: 15px;
}
.skiptocontent:focus {
  overflow: auto;
  width: auto;
  height: auto;
  color: #fff;
  clip: auto;
  overflow: visible;
}
.skiptocontent:hover {
  color: #fff;
}
#globalHeader a:hover,
#deptNav a:hover,
#globalFooter a:hover,
#slideNav a:hover,
#globalHeader a:focus,
#deptNav a:focus,
#globalFooter a:focus,
#slideNav a:focus {
  text-decoration: none;
}
#globalHeader ol,
#deptNav ol,
#globalFooter ol,
#slideNav ol,
#globalHeader ul,
#deptNav ul,
#globalFooter ul,
#slideNav ul,
#globalHeader li,
#deptNav li,
#globalFooter li,
#slideNav li {
  list-style: none;
  padding: 0;
  margin: 0;
}
#globalHeader img[src$=".svg"],
#deptNav img[src$=".svg"],
#globalFooter img[src$=".svg"],
#slideNav img[src$=".svg"] {
  /* fix <= IE 11 bug with svg */
  max-height: 100%;
  width: 100%;
  height: 100%;
}
#globalHeader {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
}
#globalHeader .globalHeaderMain {
  position: relative;
  height: 80px;
  display: inline-block;
  display: flex;
  align-items: center;
  font-family: "Rajdhani", arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.1em;
  text-transform: uppercase;
  color: #634e15;
}
#globalHeader .slideNavToggle,
#globalHeader .globalTitle,
#globalHeader .deptTitle {
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 15px;
  color: #634e15;
  cursor: pointer;
  float: left;
}
#globalHeader .slideNavToggle:hover,
#globalHeader .globalTitle:hover,
#globalHeader .deptTitle:hover,
#globalHeader .slideNavToggle:focus,
#globalHeader .globalTitle:focus,
#globalHeader .deptTitle:focus {
  background-color: #f2f2f2;
}
#globalHeader .slideNavToggle {
  position: relative;
  width: 80px;
}
#globalHeader .slideNavToggle img:last-child {
  display: none;
}
#globalHeader .globalTitle {
  height: 100%;
  border-left: 1px solid #f2f2f2;
}
#globalHeader .globalTitle > span {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}
#globalHeader .globalTitle > img {
  width: auto;
  height: 100%;
}
.headroom #globalHeader {
  transition: transform 0.5s;
}
.headroom--pinned #globalHeader {
  transform: translateY(0);
}
.headroom--unpinned #globalHeader {
  transform: translateY(-100%);
}
.headroom--bottom #globalHeader {
  transform: translateY(0);
}
#globalSearch {
  display: none;
  align-items: center;
  position: absolute;
  padding: 20px;
  top: 0;
  right: 100px;
  width: 250px;
  max-width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: "Rajdhani", arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  z-index: 1;
  transition: all 0.5s;
  transform: translateX(270px);
}
#globalSearch input[type="text"] {
  font-weight: normal;
  border: none;
  border-bottom: 1px solid #634e15;
  width: 100%;
  padding: 10px 10px 0;
}
#globalSearch.active {
  transform: translateX(0);
}
#globalSearchArea {
  position: relative;
  width: 100%;
  border: none;
  background-color: #fff;
}
#globalSearchSubmit {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  right: 10px;
  bottom: 5px;
  background: url("../img/search-icon.svg") no-repeat scroll center center transparent;
  cursor: pointer;
  border: none;
  transition: all 0.5s;
}
#searchToggle {
  display: none;
  position: relative;
  margin-left: auto;
  height: 100%;
  width: 100px;
  padding: 0;
  cursor: pointer;
  border: none;
  border-left: 1px solid #f2f2f2;
  background-color: #fff;
  overflow: hidden;
  z-index: 2;
  transition: transform 0.5s;
}
#searchToggle:before,
#searchToggle:after {
  display: block;
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: url("../img/search-icon.svg") no-repeat scroll center center transparent;
  background-size: 25%;
  transition: transform 0.5s;
}
#searchToggle:after {
    background: url("../img/close-search.svg") no-repeat scroll center center transparent;
    transform: translateX(100px);
  background-size: 60%;
}
#searchToggle:hover,
#searchToggle:focus {
  background-color: #f2f2f2;
}
#searchToggle.active:before {
  transform: translateX(-100px);
}
#searchToggle.active:after {
  transform: translateX(0);
}
#deptNav {
  display: none;
  width: 100%;
  background-color: #f2f2f2;
  clear: both;
  border-top: 1px solid #ddd;
}
#deptNav ul {
  width: 997px;
  /* 5px larger for ie/edge issues */
  margin-right: -20px;
  /* allow for browser margins */
}
#deptNav li {
  float: left;
}
#deptNav a {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 15px 10px;
  font-family: "Raleway", arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 1px;
  color: #1a1a1a;
}
#deptNav a:hover,
#deptNav a:focus {
  background-color: #ddd;
}
#deptNav .deptNavWrap {
  max-height: 40px;
  min-height: 10px;
  overflow: hidden;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}
/* slide nav */
#slideNav {
  position: fixed;
  left: 0;
  top: 0;
  transform: translateX(-360px);
  height: 100vh;
  width: 320px;
  background-color: #f2f2f2;
  font-family: "Rajdhani", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  z-index: 1000;
  transition: transform 0.5s;
  overflow: hidden;
  padding-top: 0px;
  padding-bottom: 0px;
}
#slideNav .slideTabs {
  background-color: #275d38;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 100px;
}
#slideNav .slideTabs li,
#slideNav .slideTabs a {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  max-width: 100%;
}
#slideNav .slideTabs li span,
#slideNav .slideTabs a span {
  font-size: 12px;
}
#slideNav .slideTabs li:hover,
#slideNav .slideTabs a:hover,
#slideNav .slideTabs li:focus,
#slideNav .slideTabs a:focus {
  background-color: #275d38;
}
#slideNav .slideTabs li {
  float: left;
  max-width: 40%;
}
#slideNav .slideTabs li:not(last-child) {
  border-right: 1px solid #577e63;
}
#slideNav .tabClose {
  width: 60px;
}
#slideNav .tabClose.active {
  background-color: inherit;
}
#slideNav.active {
  transform: translateX(0);
}
#slideSearch {
  position: relative;
  padding: 10px 20px 20px;
  background-color: #275d38;
  border-bottom: 1px solid #275d38;
}
#slideSearch input[type="submit"] {
  position: absolute;
  right: 25px;
  top: 15px;
  width: 20px;
  background: url("../img/search-icon-wh.svg") no-repeat scroll center center transparent;
  cursor: pointer;
  border: none;
}
#slideSearch input[type="text"] {
  color: #fff;
  background-color: #275d38;
  border: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  padding: 10px 10px 0;
}
#slideSearch input[type="text"]::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff;
}
#slideSearch input[type="text"]:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1;
}
#slideSearch input[type="text"]::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
}
#slideSearch input[type="text"]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}
#slideSearch input[type="text"]::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}
#slideSearch input[type="text"]:placeholder {
  color: #fff;
}
#slideMenuDept,
#slideMenuUvu {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  height: calc(100% - 120px);
  width: 100%;
  max-width: 320px;
  color: #fff;
  font-size: 11px;
  overflow: hidden;
  transition: transform 0.5s;
}
#slideMenuDept .scrollNav,
#slideMenuUvu .scrollNav {
  height: 100%;
  width: 340px;
  padding-bottom: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#slideMenuDept .scrollNav > *,
#slideMenuUvu .scrollNav > * {
  max-width: 320px;
}
#slideMenuDept li a,
#slideMenuUvu li a,
#slideMenuDept h3,
#slideMenuUvu h3 {
  display: block;
  color: #666;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
  font-weight: 600;
  padding: 20px;
  font-size: 14px;
}
#slideMenuDept li a img,
#slideMenuUvu li a img,
#slideMenuDept h3 img,
#slideMenuUvu h3 img {
  display: block;
}
#slideMenuDept li a:hover,
#slideMenuUvu li a:hover,
#slideMenuDept h3:hover,
#slideMenuUvu h3:hover,
#slideMenuDept li a:focus,
#slideMenuUvu li a:focus,
#slideMenuDept h3:focus,
#slideMenuUvu h3:focus {
  background-color: #e6e6e6;
}
#slideMenuDept.active,
#slideMenuUvu.active {
  transform: translateX(0);
}
#slideMenuUvu {
  background-color: #275d38;
  font-weight: 600;
  z-index: 2;
}
#slideMenuUvu li a {
  color: #fff;
  align-items: center;
  padding: 20px;
  border-color: #275d38;
}
#slideMenuUvu li a:hover {
  background-color: #1c4728;
}
#slideMenuDept {
  transform: translateX(0);
}
#breadcrumbContainer {
  position: relative;
}
#breadcrumbContainer .breadcrumbTitle {
  position: relative;
  margin: 0;
  color: #634e15;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
#breadcrumbContainer .breadcrumbTitle:after {
  position: absolute;
  display: block;
  content: '';
  right: 0;
  top: 0;
  width: 60px;
  height: 100%;
  background: url("../img/expand-green.png") no-repeat center center;
}
#breadcrumbContainer .breadcrumbTitle.active:after {
    background-image: url("../img/retract-green.png");
}
#breadcrumbNav {
  position: relative;
  height: 0;
  width: 100%;
  background-color: #215630;
  z-index: 1;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  transition: height 0.5s;
  overflow: hidden;
}
#breadcrumbNav.active {
  height: 40px;
}
#breadcrumbNav .breadcrumbScroll {
  position: relative;
  height: 60px;
  width: 100%;
  padding: 15px;
  overflow-x: scroll;
  overflow-y: hidden;
}
#breadcrumbNav ul {
  position: absolute;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
#breadcrumbNav li {
  flex-shrink: 0;
  float: left;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#breadcrumbNav li:before {
  position: absolute;
  display: block;
  left: -5px;
  top: -3px;
  content: '/ ';
  color: #FBDB65 ;
  font-weight: 400;
  padding: 0px 5px;
  bottom: 0px;
  font-size: 19px;
}
#breadcrumbNav li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 0 10px 0 15px;
  border-bottom: none;
}
#breadcrumbNav li a:hover,
#breadcrumbNav li a:focus {
  background-color: transparent;
  text-decoration: underline;
}
#breadcrumbNav .breadcrumbScroll-left,
#breadcrumbNav .breadcrumbScroll-right {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 25px;
  left: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
#breadcrumbNav .breadcrumbScroll-right {
  left: auto;
  right: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
#globalFooter {
  position: relative;
}
#globalFooter .footerDept {
  background: #eaebec;
  background: linear-gradient(to bottom, #eaebec 0%, #ffffff 61%, #fbfbfb 100%);
  color: #616263;
  font-size: 14px;
  padding: 20px;
  line-height: 1.25em;
}
#globalFooter .footerDept ul {
  text-align: center;
}
#globalFooter .footerDept li {
  display: inline;
}
#globalFooter .footerDept li:after {
  display: inline;
  position: relative;
  content: ' | ';
}
#globalFooter .footerDept li:last-of-type:after {
  display: none;
}
#globalFooter .footerSchool-top {
  color: #fff;
  background-color: #634e15;
  padding: 20px 5px 40px;
}
#globalFooter .footerSchool-top div {
  padding: 0 30px;
}
#globalFooter .footerSchool-top h2 {
  font-size: 18px;
  font-family: "Rajdhani", arial, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 0;
  margin: 20px 0 10px;
  color: #fff;
  border-bottom: 1px solid #fff;
}
#globalFooter .footerSchool-top li {
  padding: 5px 0;
}
#globalFooter .footerSchool-top a {
  font-family: "Raleway", arial, sans-serif;
  font-size: 14px;
  color: #fff;
}
#globalFooter .footerSchool-top a:hover,
#globalFooter .footerSchool-top a:focus {
  text-decoration: underline;
}
#globalFooter .footerSchool-top:after {
  display: table;
  content: '';
  clear: both;
}
#globalFooter .footerSchool-bottom {
  background-color: #1E5631;
  padding: 20px;
  text-align: center;
  font-size: 11px;
}
#globalFooter .footerSchool-bottom a,
#globalFooter .footerSchool-bottom li {
  color: #fff;
}
#globalFooter .footerSchool-bottom li {
  display: inline;
}
#globalFooter .footerSchool-bottom li:not(:last-of-type):after {
  display: inline-block;
  position: relative;
  padding: 0 7px 0 10px;
  content: '|';
}
#globalFooter .footerSchool-bottom .footerSchool-title {
  padding: 10px 0;
  color: #fff;
  font-size: 16px;
}
#globalFooter .footerSchool-bottom .footerSchool-contact li:not(:last-of-type):after {
  content: '\2022';
}
#globalFooter .footerSocial {
  padding-top: 20px;
}
#globalFooter .footerSocial .fa {
  padding: 0 10px;
}
#globalSearchSuggest,
#slideSearchSuggest {
  position: absolute;
  z-index: 10;
  border: 1px solid #ccc;
  overflow: hidden;
  color: #333;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
  right: 0;
  max-width: 320px;
  display: none;
}
#globalSearchSuggest ul,
#slideSearchSuggest ul {
  padding: 0;
  margin-top: 0;
  list-style: none;
  color: #fff;
  background-color: #fff;
}
#globalSearchSuggest a,
#slideSearchSuggest a {
  display: block;
  padding: 10px 15px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  color: #434344;
  overflow: hidden;
}
#globalSearchSuggest li,
#slideSearchSuggest li {
  padding: 0;
  margin: 0;
}
#globalSearchSuggest li:nth-child(odd),
#slideSearchSuggest li:nth-child(odd) {
  background-color: #F7F7F8;
}
#globalSearchSuggest li:hover a,
#slideSearchSuggest li:hover a,
#globalSearchSuggest li.selected a,
#slideSearchSuggest li.selected a {
  text-decoration: none;
  color: #005C2B;
  background-color: #FFFBF0;
}
#globalSearchSuggest span,
#slideSearchSuggest span {
  display: block;
  font-family: "Raleway", arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}
#globalSearchSuggest.active,
#slideSearchSuggest.active {
  display: block;
}
#slideSearchSuggest {
  width: 100%;
}
#ob {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#ob a {
  display: block;
  height: 16px;
  width: 51px;
  text-decoration: none;
  background: url("/images/hpob.png") no-repeat scroll 0 0 transparent;
}
.ou-edit {
  opacity: 0;
  position: fixed;
  left: 50%;
  top: -100px;
  z-index: 1000;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
}
.ou-edit.show {
  opacity: 1;
  top: 15px;
}
/* Back To Top */
.backToTop {
  font-size: 3rem;
  position: fixed;
  right: 5px;
  bottom: 5px;
  z-index: 10;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px 2px #656a6f;
  opacity: 0;
  transform: translateX(100px);
  transition: all 0.5s;
}
.backToTop:hover,
.backToTop:focus,
.backToTop:active {
  text-decoration: none;
  color: #ffffff;
  text-shadow: 1px 1px 2px #42464b;
}
.headroom--not-top .backToTop {
  opacity: 1;
  transform: translateX(0);
}
/* Emergency alert */
#basic-modal-content {
  position: relative;
  background-color: #6d1706;
  padding: 20px;
  z-index: 100;
}
#emergency {
  color: #fff;
}
#emergency:after {
  display: table;
  position: relative;
  content: '';
  clear: both;
}
#emergency h2,
#emergency a {
  color: #fff;
}
#emergency a {
  text-decoration: underline;
  font-weight: bold;
}
#emergency img,
#emergency #continue {
  display: none;
}
/*===============TABLET AND UP===============*/
@media only screen and (min-width: 768px) {
  #mquery {
    width: 1px;
  }
}
/*==========LANDSCAPE TABLET AND UP=========*/
@media only screen and (min-width: 992px) {
  body {
    padding-top: 140px;
  }
  body.noDeptNav {
    padding-top: 100px;
  }
  #mquery {
    width: 2px;
  }
  #globalHeader .globalHeaderMain {
    height: 100px;
  }
  #globalHeader .slideNavToggle {
    width: 100px;
    padding: 40px;
  }
  #globalHeader .slideNavToggle img:first-child {
    display: none;
  }
  #globalHeader .slideNavToggle img:last-child {
    display: block;
  }
  #globalHeader .globalTitle {
    left: 100px;
    padding: 20px;
  }
  #globalHeader .deptTitle {
    font-size: 24px;
  }
  #globalSearch,
  #searchToggle {
    display: flex;
  }
  #deptNav,
  #ob {
    display: block;
  }
  .backToTop {
    right: 20px;
    bottom: 5.33333rem;
  }
}
/*===============DESKTOP ONLY===============*/
@media only screen and (min-width: 1200px) {
  #mquery {
    width: 3px;
  }
}
/*# sourceMappingURL=./wrapper.css.map */
